 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Administrar Sala')"></head>
<head>
    <script th:src="@{/selectize/js/standalone/selectize.js}"></script>
    <link th:href="@{/selectize/css/selectize.bootstrap5.css}" rel="stylesheet">
    <!--Dropify-->
    <link rel="stylesheet" th:href="@{/dropify/css/dropify.css}"/>
</head>
<body class="bg-lightgrey">
<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<div class="container py-3" style="width: 450px">
    <div class="card" >
        <div class="card-body">
            <div class="row">
                <div class="card-title text-redtele fs-22" th:text="${sala.id==0? 'Crear Sala' : 'Editar Sala'}">
                    Sala
                </div>
            </div>
            <form method="post" th:action="@{'/admin/sedes/gestion/sala/guardar'}"  th:object="${sala}">
                <input  hidden type="text" class="form-control"  th:field="*{id}"/>
                <input  hidden type="text" class="form-control"  th:field="*{sede.id}"/>
                <div class="row">
                    <div class="col-10">
                        <div class="mb-3">
                            <label class="form-label">Número de la sala</label>
                            <input  type="text" class="form-control" th:field="*{numero}" th:classappend="${#fields.hasErrors('numero')?'is-invalid':''}"/>
                            <div class="text-danger mt-3" th:if="${#fields.hasErrors('numero')}"
                                 th:errors="*{numero}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Aforo máximo</label>
                            <input  type="number" class="form-control" th:field="*{aforo}" th:classappend="${#fields.hasErrors('aforo')?'is-invalid':''}">
                            <div class="text-danger mt-3" th:if="${#fields.hasErrors('aforo')}"
                                 th:errors="*{aforo}"></div>
                        </div>

                        <div th:if="${sala.id != 0}" class="mb-3">
                            <label class="form-label">Estado</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check d-flex align-items-center me-3">
                                    <input class="form-check-input" type="radio" name="estado"  value="Disponible" th:field="*{estado}"/>
                                    <label class="form-check-label" >Disponible</label>
                                </div>

                                <div class="form-check d-flex align-items-center me-3">
                                    <input class="form-check-input" type="radio" name="estado"  value="No disponible"  th:field="*{estado}"/>
                                    <label class="form-check-label" >No Disponible</label>
                                </div>
                            </div>
                            <div class="text-danger mt-3" th:if="${#fields.hasErrors('estado')}"
                                 th:errors="*{estado}"></div>
                        </div>

                        <input th:if="${sala.id == 0}" hidden name="estado" value="Disponible">

                        <div class="mb-3">
                            <button class="btn btn-redtele" type="submit" th:text="${sala.id==0? 'Crear' : 'Actualizar'}"></button>
                            <a class="btn btn-dark text-white" th:href="@{|/admin/sedes/gestion/${sala.sede==null? idSede : sala.sede.id}|}">Cancelar</a>

                        </div>

                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
<footer th:replace="fragmentos/footer.html :: footer"></footer>

<!-- Modal confilctos -->
<div th:if="${funcionesVigentes != null}" class="modal top fade" id="modalConflictos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >La sala no puede cambiar su estado </h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    La sala tiene asociadas las siguientes funciones vigentes
                </div>
                <div class="mb-3" th:each="funcion : ${funcionesVigentes}">
                    <div>
                        <span>Obra:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.obra.titulo}"></span>
                    </div>
                    <div>
                        <span>Fecha:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.fecha}"></span>
                    </div>
                    <div>
                        <span>Inicio:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.inicio}"></span>
                    </div>
                    <div>
                        <span>Fin:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.fin}"></span>
                    </div>
                    <div>
                        <span>Sala:&nbsp</span>
                        <span class="fw-bold" th:text="| ${funcion.sala.numero} - ${funcion.sala.sede.nombre}|"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragmentos/navbar.html :: menu"></div>

</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript"  th:src="@{/dropify/js/dropify.js}"></script>
<script type="text/javascript" th:if="${funcionesVigentes != null}">
    $(window).on('load', function() {
        $('#modalConflictos').modal('show');
    });
</script>
</html>