<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<!-- Navbar-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-dark navbar-dark fs-14  p-3">
    <div class="container-fluid container justify-content-between">
        <!-- Left elements -->
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" th:href="@{/}">
            <img th:src="@{/img/logo-teleticket.png}" height="40" alt="Teleticket logo" loading="lazy" style="margin-top: 2px;"
            />
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Right elements -->
            <ul class="navbar-nav flex-row w-100 d-flex justify-content-end">
                <!--Carrito-->
                <li sec:authorize="hasAuthority('cliente')" class="nav-item me-3 me-lg-1 mx-2">
                    <a class="nav-link" href="#">
                        <i class="fas fa-solid fa-cart-shopping fa-lg"></i>

                        <span class="badge rounded-pill badge-notification bg-danger">0</span>
                    </a>
                </li>
                <!--Mis tickets-->
                <li sec:authorize="hasAuthority('cliente')" class="nav-item mx-2">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-ticket mx-1"></i>
                        Mis tickets
                    </a>
                </li>
                <!--Usuario-->
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown me-3 me-lg-1 mx-2">
                    <a  class="nav-link d-sm-flex align-items-sm-center dropdown-toggle hidden-arrow"
                       href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img th:src="@{/img/default-profile.png}" class="rounded-circle"  height="22" alt="admin" loading="lazy"/>
                        <strong class="d-none d-sm-block ms-1 username" th:text="${session.usuario.nombre}">
                            Usuario
                        </strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li sec:authorize="hasAnyAuthority('cliente')">
                            <a class="dropdown-item" href="#">Editar información</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('cliente')">
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <a onclick="this.parentNode.submit()" class="dropdown-item text-redtele" href="#">Cerrar sesión</a>
                            </form>
                        </li>
                    </ul>
                </li>
                <!--Iniciar sesión-->
                <li sec:authorize="isAnonymous()" class="nav-item dropdown me-3 me-lg-1 mx-2">
                    <a  class="nav-link d-sm-flex align-items-sm-center"
                        th:href="@{/login}" role="button" >
                        <strong class="d-none d-sm-block ms-1 username">
                            Iniciar sesión
                        </strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Fin de Navbar -->
</body>
</html>