<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Gestion Persona')"></head>
<head>
    <script th:src="@{/selectize/js/standalone/selectize.js}"></script>
    <link th:href="@{/selectize/css/selectize.bootstrap5.css}" rel="stylesheet">
    <!--Dropify-->
    <link rel="stylesheet" th:href="@{/dropify/css/dropify.css}"/>
</head>
<body class="bg-lightgrey">
<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<div class="container py-3" style="width: 500px">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="card-title text-redtele fs-22" th:text="${persona.id==0? 'Añadir Persona' : 'Editar Persona'}">
                    Persona
                </div>
            </div>
            <form method="post" th:action="@{'/admin/personas/'+${persona.id==0? 'guardar': 'actualizar'}}" th:object="${persona}" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12">
                        <input hidden th:field="*{id}">
                        <div class="mb-3">
                            <label class="form-label">Nombre de la Persona</label>
                            <input type="text" class="form-control mb-0" th:field="*{nombre}"  th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}"/>
                            <div class="text-end form-label" id="contnombre">0/45</div>
                            <div class="text-danger mt-3" th:if="${#fields.hasErrors('nombre')}"
                                 th:errors="*{nombre}"></div>
                        </div>
                        <label class="form-label" th:unless="${persona.id==0}">Estado</label>
                        <div class="d-flex align-items-center" th:unless="${persona.id==0}">
                            <div class="form-check d-flex align-items-center me-3">
                                <input class="form-check-input" type="radio" name="estado"  value="Disponible" th:field="*{estado}"/>
                                <label class="form-check-label" >Disponible</label>
                            </div>
                            <div class="form-check d-flex align-items-center me-3">
                                <input class="form-check-input" type="radio" name="estado"  value="No disponible"  th:field="*{estado}"/>
                                <label class="form-check-label" >No Disponible</label>
                            </div>
                        </div>
                        <div class="mb-2" th:unless="${persona.id==0}" >
                            <p class="form-label">Foto</p>
                            <div class="col-lg-4 text-center" >
                                <div class="bg-image hover-overlay  d-inline-block mb-3" style="margin-left: 25px">
                                    <img th:src="@{|/image/persona/${persona.id}|}" style="width: 380px">
                                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#imagenModal">
                                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                                            <div class="d-flex justify-content-center align-items-center h-100">
                                                <p class="text-white mb-0">Cambiar imagen</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="mb-2" th:if="${persona.id==0}">
                            <label class="form-label">Foto</label>
                            <script>
                                $(function () {
                                    $('.dropify').dropify();
                                });
                            </script>
                            <input type="file" class="dropify" data-height="250" name="archivo" id="archivo" data-max-file-size="1M" data-max-file-size-preview="2M"/>
                            <div class="text-danger mt-3" th:text="${msg}"></div>
                        </div>

                        <input hidden th:if="${persona.id==0}" id="estado" name="estado" value="Disponible">
                        <div class="text-danger mt-3" th:if="${#fields.hasErrors('estado')}"
                             th:errors="*{estado}"></div>
                        <div class="mb-3" style="margin-top: 15px">
                            <button class="btn btn-redtele" type="submit"> Guardar</button>
                            <a class="btn btn-dark text-white" th:href="@{|/admin/personas|}">Cancelar</a>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
<!-- Modal Añadir Imagen -->
<div th:unless="${persona.id==0}" class="modal top fade" id="imagenModal" tabindex="-1" aria-labelledby="imagenModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog">
        <form method="post" th:action="@{/admin/personas/cambiarfoto}" enctype="multipart/form-data">
            <input hidden name="id" th:value="${persona.id}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imagenModalLabel">Cambiar imagen</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center py-4">
                    <div style="height: 250px; width: 250px">
                        <script>
                            $(function() {
                                $('.dropify').dropify();
                            });
                        </script>
                        <input  type="file" name="imagen" id="foto" data-max-file-size="1M" class="dropify" data-height="250"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-redtele">Subir</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal msg -->
<div th:if="${msg!=null && persona.id!=0}" class="modal top fade" id="msgModal" tabindex="-1" aria-labelledby="msgModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <img th:src="@{/img/logo-teleticket-alt.png}" height="40" alt="Teleticket logo" loading="lazy" style="margin-top: 2px;"/>
                </div>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=" w-100 d-flex justify-content-center mb-3">
                    <i class="fa-solid fa-circle-check" style="font-size: 50px" th:class="${error==null? 'fa-solid fa-circle-check text-success': 'fa-solid fa-circle-xmark text-danger'  }"></i>
                </div>
                <div class="w-100 d-flex justify-content-center my-2" th:text="${msg}">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal conflictos -->
<div th:if="${funcionesVigentes != null}" class="modal top fade" id="modalConflictos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >No se puede cambiar el estado </h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    La persona que intenta editar tiene asociadas las siguientes funciones vigentes
                </div>
                <div class="mb-3" th:each="funcion : ${funcionesVigentes}">
                    <div>
                        <span>Obra:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.obra.titulo}"></span>
                    </div>
                    <div>
                        <span>Fecha:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.fecha}"></span>
                    </div>
                    <div>
                        <span>Inicio:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.inicio}"></span>
                    </div>
                    <div>
                        <span>Fin:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.fin}"></span>
                    </div>
                    <div>
                        <span>Sala:&nbsp</span>
                        <span class="fw-bold" th:text="| ${funcion.sala.numero} - ${funcion.sala.sede.nombre}|"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragmentos/footer.html :: footer"></footer>

<div th:replace="fragmentos/navbar.html :: menu"></div>
</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript" th:src="@{/dropify/js/dropify.js}"></script>
<script type="text/javascript" th:if="${msg != null}">
    $(window).on('load', function() {
        $('#msgModal').modal('show');
    });
</script>
<script type="text/javascript" >
    $(function() {
        var contnombre = $("#contnombre");
        var nombre = $("#nombre");
        contnombre.html(nombre.val().length+'/45');

        nombre.keyup(function() {
            contnombre.html($(this).val().length+'/45');
        });
    });
</script>
<script>
    var uploadField = document.getElementById("foto");

    uploadField.onchange = function() {
        if(this.files[0].size > 5248000){
            alert("El archivo es muy grande!");
            this.value = "";
        };
    };
</script>
<script type="text/javascript" th:if="${funcionesVigentes != null}">
    $(window).on('load', function() {
        $('#modalConflictos').modal('show');
    });
</script>
</html>