<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Menú Administrador')"></head>
<body>
<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>

<!--Contenidos-->
<div class="container py-3 ">
    <div class="title-22 py-6">
        Mostrando todas las funciones
    </div>
    <div class="fw-bold" style="text-align: right; float: right;margin-bottom: 12px">
        <button class="btn btn-redtele btn-sm fw-bold" style="height: 40px;width: 130px" type="button"
                aria-expanded="false">
            Estadísticas
        </button>
        <img th:src="@{/img/sta.jpg}" style="height: 40px" ; width="55px">
    </div>
    <br>
    <br>
    <table class="table hover-light align-middle mb-0  round-border ">
        <thead class="bg-light">
        <tr class="bg-dark">
            <th class="text-white fw-bold">Obra</th>
            <th class="text-white fw-bold">Fecha</th>
            <th class="text-white fw-bold">Hora</th>
            <th class="text-white fw-bold">Sede</th>
            <th class="text-white fw-bold">Asistencia(%)</th>
            <th class="text-white fw-bold">Estado</th>
            <th class="text-white fw-bold"></th>
            <th class="text-white fw-bold"></th>
            <th class="text-white fw-bold"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img
                            src="../img/antesde.jpg"
                            alt=""
                            style="width: 90px; height: 70px;
                            border-radius: 10%"
                    />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Antes de decirte adiós</p>
                    </div>
                </div>
            </td>
            <td>27/11/2022
            </td>
            <td>16:30
            </td>
            <td>Miraflores
            </td>
            <td style="text-align: center;">76
            </td>
            <td><span class="badge badge-success rounded-pill d-inline fs-13" >Vigente</span>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary fw-bold btn-sm btn-rounded"
                        data-mdb-ripple-color="dark">
                    Editar
                </button>
            </td>
            <td>
                <button hidden type="button" class="btn btn-outline-danger fw-bold btn-sm btn-rounded"
                        data-mdb-ripple-color="dark">
                    Eliminar
                </button>
            </td>
            <td>
                <button type="button" style="width: 130px;margin-top: 10px"
                        class="btn btn-outline-success fw-bold btn-sm btn-rounded" data-mdb-ripple-color="dark">
                    Reporte xsl
                </button>
            </td>
        </tr>

        </tbody>
    </table>
    <nav th:replace="/fragmentos/paginacion :: paginacion()"></nav>
</div>


<footer th:replace="fragmentos/footer.html :: footer"></footer>

</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
</html>