<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Gestion de Obra')"></head>
<head>
    <script th:src="@{/selectize/js/standalone/selectize.js}"></script>
    <link th:href="@{/selectize/css/selectize.bootstrap5.css}" rel="stylesheet">
    <!--Dropify-->
    <link rel="stylesheet" th:href="@{/dropify/css/dropify.css}"/>
</head>
<body class="bg-lightgrey">
<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<div class="container py-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="card-title text-redtele fs-22" th:text="${obra.id==0?'Nueva obra':'Editar obra'}">
                    Nueva obra
                </div>
            </div>
            <form method="post" th:action="@{'/operador/obras/'+ ${obra.id==0? 'guardar':'actualizar'}}" th:object="${obra}" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <input hidden th:field="*{id}">
                            <label class="form-label">Nombre de la obra</label>
                            <input th:field="*{titulo}" type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('titulo')?'is-invalid':''}"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('titulo')}"
                                 th:errors="*{titulo}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripción</label>
                            <textarea th:field="*{resumen}" type="text" class="form-control"
                                      th:classappend="${#fields.hasErrors('resumen')?'is-invalid':''}"
                                      style="height: 150px;"></textarea>
                            <div class="text-danger" th:if="${#fields.hasErrors('resumen')}"
                                 th:errors="*{resumen}"></div>
                        </div>
                        <div class="control-group mb-3">
                            <label for="directores" class="form-label">Directores </label>
                            <select class="demo-default" name="directores" id="directores" th:field="*{directores}"
                                    th:classappend="${#fields.hasErrors('directores')?'is-invalid':''}" multiple>
                                <option value="">Selecciona directores</option>
                                <option th:each="director : ${personaList}"
                                        th:text="${director.nombre}"
                                        th:value="${director.id}">
                                </option>
                            </select>
                            <div class="text-danger" th:if="${#fields.hasErrors('directores')}"
                                 th:errors="*{directores}"></div>
                        </div>
                        <script>
                            $('#directores').selectize();
                        </script>
                        <div class="control-group mb-3">
                            <label for="actores" class="form-label">Actores </label>
                            <select class="demo-default" name="actores" id="actores" th:field="*{actores}"
                                    th:classappend="${#fields.hasErrors('actores')?'is-invalid':''}" multiple>
                                <option value="">Selecciona actores</option>
                                <option th:each="actor : ${personaList}"
                                        th:text="${actor.nombre}"
                                        th:value="${actor.id}" th:disabled="${actor.estado.equals('No disponible')}">
                                </option>
                            </select>
                            <div class="text-danger" th:if="${#fields.hasErrors('actores')}"
                                 th:errors="*{actores}">
                            </div>
                        </div>
                        <script>
                            $('#actores').selectize();
                        </script>
                        <div class="control-group mb-3">
                            <label for="generos" class="form-label">Géneros </label>
                            <select class="demo-default" name="generos" id="generos" th:field="*{generos}"
                                    th:classappend="${#fields.hasErrors('generos')?'is-invalid':''}" multiple>
                                <option value="">Selecciona generos</option>
                                <option th:each="genero : ${generoList}"
                                        th:text="${genero.nombre}"
                                        th:value="${genero.id}"></option>
                            </select>
                            <div class="text-danger" th:if="${#fields.hasErrors('generos')}"
                                 th:errors="*{generos}"></div>
                        </div>
                        <script>
                            $('#generos').selectize();
                        </script>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Duración</label>
                            <input th:field="*{duracion}" type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('duracion')?'is-invalid':''}"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('duracion')}"
                                 th:errors="*{duracion}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Restricción</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check d-flex align-items-center me-3">
                                    <input class="form-check-input" type="radio" th:field="*{restricciones}" value="APT" />
                                    <label class="form-check-label" >APT</label>
                                </div>

                                <div class="form-check d-flex align-items-center me-3">
                                    <input class="form-check-input" type="radio" th:field="*{restricciones}" value="M13" />
                                    <label class="form-check-label" >M13</label>
                                </div>

                                <div class="form-check d-flex align-items-center me-3">
                                    <input class="form-check-input" type="radio" th:field="*{restricciones}" value="M18" />
                                    <label class="form-check-label" >M18</label>
                                </div>
                                <div class="text-danger" th:if="${#fields.hasErrors('restricciones')}"
                                     th:errors="*{restricciones}"></div>
                            </div>
                        </div>
                        <div class="mb-3" th:if="${obra.id==0}">
                            <label class="form-label">Foto</label>
                            <script>
                                $(function() {
                                    $('.dropify').dropify();
                                });
                            </script>
                            <input data-max-file-size-preview="2M" data-max-file-size="1M"  type="file" class="dropify" name="foto" id="foto"/>
                            <div class="text-danger" th:text="${msg}"></div>
                        </div>
                        <div class="mb-3" th:unless="${obra.id==0}">
                            <label class="form-label">Foto Principal</label><br>
                            <input hidden th:field="*{fotoprincipal}">
                            <div style="width: 600px; height: 300px; overflow: hidden">
                                <img th:src="@{|/image/obra/${obra.fotoprincipal}|}" style="width: 100%; height: 100%; object-fit: cover">
                            </div>

                        </div>

                    </div>
                </div>
                <div class="mb-3" style="margin-top: 15px">
                    <button class="btn btn-redtele" type="submit"> Guardar</button>
                    <a class="btn btn-dark text-white" th:href="@{|/operador/obras|}" th:if="${obra.id==0}">Cancelar</a>
                    <a class="btn btn-dark text-white" th:href="@{|/operador/obras/gestion/${obra.id}|}" th:unless="${obra.id==0}">Cancelar</a>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Modal msg -->
<div th:if="${msg!=null}" class="modal top fade" id="msgModal" tabindex="-1" aria-labelledby="msgModal"
     aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <img th:src="@{/img/logo-teleticket-alt.png}" height="40" alt="Teleticket logo"
                         loading="lazy" style="margin-top: 2px;"/>
                </div>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=" w-100 d-flex justify-content-center mb-3">
                    <i class="fa-solid fa-circle-check" style="font-size: 50px"
                       th:class="${error==null? 'fa-solid fa-circle-check text-success': 'fa-solid fa-circle-xmark text-danger'  }"></i>
                </div>
                <div class="w-100 d-flex justify-content-center my-2" th:text="${msg}">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal conflictos -->
<div th:if="${!realizadas.isEmpty()}" class="modal top fade" id="modalConflictos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >No se pueden cambiar los datos </h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    La obra que intenta editar tiene asociadas las siguientes funciones realizadas
                </div>
                <div class="mb-3" th:each="funcion : ${realizadas}">
                    <div>
                        <span>Obra:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.obra.titulo}"></span>
                    </div>
                    <div>
                        <span>Fecha:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.fecha}"></span>
                    </div>
                    <div>
                        <span>Inicio:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.inicio}"></span>
                    </div>
                    <div>
                        <span>Fin:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.fin}"></span>
                    </div>
                    <div>
                        <span>Sala:&nbsp</span>
                        <span class="fw-bold" th:text="| ${funcion.sala.numero} - ${funcion.sala.sede.nombre}|"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:if="${msg != null}">
    $(window).on('load', function () {
        $('#msgModal').modal('show');
    });
</script>
<footer th:replace="fragmentos/footer.html :: footer"></footer>

<div th:replace="fragmentos/navbar.html :: menu"></div>
</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript"  th:src="@{/dropify/js/dropify.js}"></script>
<script type="text/javascript" th:if="${!realizadas.isEmpty()}">
    $(window).on('load', function() {
        $('#modalConflictos').modal('show');
    });
</script>
</html>