<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Menú Administrador')"></head>
<head>
    <script th:src="@{/selectize/js/standalone/selectize.js}"></script>
    <link th:href="@{/selectize/css/selectize.bootstrap5.css}" rel="stylesheet">
    <!--Dropify-->
    <link rel="stylesheet" th:href="@{/dropify/css/dropify.css}"/>
</head>
<body class="bg-lightgrey">
<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<div class="container py-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="card-title text-redtele fs-22" th:text="${obra.id==0?'Nueva obra':'Editar obra'}">
                    Nueva obra
                </div>
            </div>
            <form method="post" th:action="@{'/operador/obras/'+ ${obra.id==0? 'guardar':'actualizar'}}" th:object="${obra}" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <input hidden th:field="*{id}">
                            <label class="form-label">Nombre de la obra</label>
                            <input th:field="*{titulo}" type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('titulo')?'is-invalid':''}"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('titulo')}"
                                 th:errors="*{titulo}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripción</label>
                            <textarea th:field="*{resumen}" type="text" class="form-control"
                                      th:classappend="${#fields.hasErrors('resumen')?'is-invalid':''}"></textarea>
                            <div class="text-danger" th:if="${#fields.hasErrors('resumen')}"
                                 th:errors="*{resumen}"></div>
                        </div>
                        <div class="control-group mb-3">
                            <label for="directores" class="form-label">Directores </label>
                            <select class="demo-default" name="directores" id="directores" th:field="*{directores}"
                                    th:classappend="${#fields.hasErrors('directores')?'is-invalid':''}" multiple>
                                <option value="">Selecciona directores</option>
                                <option th:each="director : ${personaList}"
                                        th:text="${director.nombre}"
                                        th:value="${director.id}"></option>
                            </select>
                            <div class="text-danger" th:if="${#fields.hasErrors('directores')}"
                                 th:errors="*{directores}"></div>
                        </div>
                        <script>
                            $('#directores').selectize();
                        </script>
                        <div class="control-group mb-3">
                            <label for="actores" class="form-label">Actores </label>
                            <select class="demo-default" name="actores" id="actores" th:field="*{actores}"
                                    th:classappend="${#fields.hasErrors('actores')?'is-invalid':''}" multiple>
                                <option value="">Selecciona actores</option>
                                <option th:each="actor : ${personaList}"
                                        th:text="${actor.nombre}"
                                        th:value="${actor.id}"></option>
                            </select>
                            <div class="text-danger" th:if="${#fields.hasErrors('actores')}"
                                 th:errors="*{actores}"></div>
                        </div>
                        <script>
                            $('#actores').selectize();
                        </script>
                        <div class="control-group mb-3">
                            <label for="generos" class="form-label">Géneros </label>
                            <select class="demo-default" name="generos" id="generos" th:field="*{generos}"
                                    th:classappend="${#fields.hasErrors('generos')?'is-invalid':''}" multiple>
                                <option value="">Selecciona generos</option>
                                <option th:each="genero : ${generoList}"
                                        th:text="${genero.nombre}"
                                        th:value="${genero.id}"></option>
                            </select>
                            <div class="text-danger" th:if="${#fields.hasErrors('generos')}"
                                 th:errors="*{generos}"></div>
                        </div>
                        <script>
                            $('#generos').selectize();
                        </script>
                        <div class="mb-3" style="margin-top: 15px">
                            <button class="btn btn-redtele" type="submit"> Guardar</button>
                            <a class="btn btn-dark text-white" th:href="@{|/operador/obras|}" th:if="${obra.id==0}">Cancelar</a>
                            <a class="btn btn-dark text-white" th:href="@{|/operador/obras/gestion/${obra.id}|}" th:unless="${obra.id==0}">Cancelar</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Duración</label>
                            <input th:field="*{duracion}" type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('duracion')?'is-invalid':''}"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('duracion')}"
                                 th:errors="*{duracion}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Restricción</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check d-flex align-items-center me-3">
                                    <input class="form-check-input" type="radio" th:field="*{restricciones}" value="APT" />
                                    <label class="form-check-label" >APT</label>
                                </div>

                                <div class="form-check d-flex align-items-center me-3">
                                    <input class="form-check-input" type="radio" th:field="*{restricciones}" value="M13" />
                                    <label class="form-check-label" >M13</label>
                                </div>

                                <div class="form-check d-flex align-items-center me-3">
                                    <input class="form-check-input" type="radio" th:field="*{restricciones}" value="M18" />
                                    <label class="form-check-label" >M18</label>
                                </div>
                                <div class="text-danger" th:if="${#fields.hasErrors('restricciones')}"
                                     th:errors="*{restricciones}"></div>
                            </div>
                        </div>
                        <div class="mb-3" th:if="${obra.id==0}">
                            <label class="form-label">Foto</label>
                            <script>
                                $(function() {
                                    $('.dropify').dropify();
                                });
                            </script>
                            <input  type="file" class="dropify" name="foto" id="foto"/>
                            <div class="text-danger" th:text="${msg}"></div>
                        </div>
                        <div class="mb-3" th:unless="${obra.id==0}">
                            <label class="form-label">Foto Principal</label><br>
                            <input hidden th:field="*{fotoprincipal}">
                            <img th:src="@{|/image/obra/${obra.fotoprincipal}|}" style="width: 600px; height: 300px">
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<footer th:replace="fragmentos/footer.html :: footer"></footer>

<div th:replace="fragmentos/navbar.html :: menu"></div>
</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript"  th:src="@{/dropify/js/dropify.js}"></script>
</html>