<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Menú Administrador')"></head>
<head>
    <link rel="stylesheet" th:href="@{/dropify/css/dropify.css}"/>
    <!--Table-->
    <link rel="stylesheet" th:href="@{/css/tables.css}">
    <!--Carrousel-->
    <link rel="stylesheet" th:href="@{/css/carrousel.css}">
</head>
<body class="bg-lightgrey">
<script>
    $(document).ready(function () {
        var docWidth = $('body').width(),
            $wrap = $('#wrap'),
            $images = $('#wrap .hb'),
            slidesWidth = $wrap.width();

        $(window).on('resize', function () {
            docWidth = $('body').width();
            slidesWidth = $wrap.width();
        })

        $(document).mousemove(function (e) {
            var mouseX = e.pageX,
                offset = mouseX / docWidth * slidesWidth - mouseX / 2;

            $images.css({
                '-webkit-transform': 'translate3d(' + -offset + 'px,0,0)',
                'transform': 'translate3d(' + -offset + 'px,0,0)'
            });
        });
    })
</script>
<script>
    $(function() {
        $('.dropify').dropify();
    });
</script>
<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<!-- Headers obra -->
<div class="container py-3">
    <div class="row mb-3">
        <div class="text-start col-lg-9">
            <div class="title-30 py-6" th:text="${obra.titulo}"></div>
        </div>
        <div class="d-flex align-items-center justify-content-end col-lg-3">
            <a class="btn rounded-7 btn-redtele btn-sm h-100" type="button"
               th:href="@{'/operador/obras/gestion/'+${obra.id}+ '/editar'}">
                <div class="row h-100">
                    <div class="col-3 h-100 d-flex align-items-center"><i  class="fas fa-solid fa-masks-theater fs-24"></i>
                    </div>
                    <div class="col-9 h-100 d-flex align-items-center justify-content-center">Editar Obra</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="text-start col-lg-9">
            <div class="pill-redtele fs-13 me-2" th:text="${obra.restricciones}"></div>
            <div class="pill-white fs-13 me-2" th:text="${obra.duracion} + 'min'"></div>
        </div>
        <div class="d-flex align-items-center justify-content-end col-lg-3">
            <a class="btn rounded-7 btn-redtele btn-sm " type="button" style="height: 50px;"
               data-mdb-toggle="modal" data-mdb-target="#destacados">
                <div class="row h-100">
                    <div class="col-2 h-100 d-flex align-items-center"><i  class="fas fa-solid fa-star fs-24"></i>
                    </div>
                    <div class="col-10 h-100 d-flex align-items-center justify-content-center" th:text="${obra.destacado==0? 'Agregar a Destacados':'Quitar Destacado'}">Destacados</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-5">
        <div class="fs-16" >
            <span>Dirección:&nbsp;</span>
            <span th:each="director, info : ${obra.directores}">
                <span  class="fw-bold" th:text="${director.nombre}"></span>
                <span class="fw-bold"  th:unless="${info.index +1 == obra.directores.size()}" th:text="', '"></span>
            </span>
        </div>
        <div class="fs-16" >
            <span>Reparto:&nbsp;</span>
            <span th:each="actor, info : ${obra.actores}">
                <span  class="fw-bold" th:text="${actor.nombre}"></span>
                <span class="fw-bold"  th:unless="${info.index +1 == obra.actores.size()}" th:text="', '"></span>
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="text-start col-lg-9">
            <div class="title-26 py-6">Imágenes</div>
        </div>
        <div class="d-flex align-items-center justify-content-end col-lg-3">
            <a class="btn btn-redtele btn-sm h-100 rounded-7" type="button"
               data-mdb-toggle="modal" data-mdb-target="#anadirModal">
                <div class="row h-100">
                    <div class="col-3 h-100 d-flex align-items-center"><i  class="fa fa-solid fa-images fs-24"></i>
                    </div>
                    <div class="col-9 h-100 d-flex align-items-center justify-content-center">Añadir imagen</div>
                </div>
            </a>
        </div>
    </div>
    <!-- Imágenes -->
    <div class="mb-5 overflow-hidden" style="position: relative; ">
        <div id="wrap" class="carousel">
            <div href="#" class="hb" th:each="fotoid : ${fotos}">
                <div class="container-borrar">
                    <img th:src="@{|/image/obra/${fotoid}|}"
                         class="image-borrar" style="width:100%">
                    <div th:unless="${fotoid == obra.fotoprincipal}" class="middle-borrar col">
                        <button class="btn btn-dark mb-3" th:attr="data-fotoid=${fotoid}, data-src='/image/obra/'+${fotoid}"
                                th:id="'e'+ ${fotoid}" onclick="setEliminarModal(id)">
                            Eliminar
                        </button>
                        <button class="btn btn-redtele"  th:attr="data-fotoid=${fotoid}, data-src='/image/obra/'+${fotoid}"
                                th:id="'f'+ ${fotoid}" onclick="setPrincipalModal(id)">
                            <i class="fa-solid fa-bookmark"></i> Principal
                        </button>
                    </div>
                    <div th:if="${fotoid == obra.fotoprincipal}" class="middle-borrar col text-white fs-14">
                        <i class="fa-solid fa-bookmark"></i> Foto principal
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="text-start col-lg-9">
            <div class="title-26 py-6">Funciones</div>
        </div>
        <div class="d-flex align-items-center justify-content-end col-lg-3">
            <a class="btn btn-redtele btn-sm h-100 rounded-7" type="button"
               th:href="@{'/operador/funciones/nueva?idobra='+ ${obra.id}}">
                <div class="row h-100">
                    <div class="col-3 h-100 d-flex align-items-center"><i  class="fa fa-couch col fs-24"></i>
                    </div>
                    <div class="col-9 h-100 d-flex align-items-center justify-content-center">Nueva Función</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row fs-14 text-end" >
        <div class="col-md-4"></div>
        <div class="col-md-2">
            Año&nbsp;&nbsp;
        </div>
        <div class="col-md-3">
            Mes&nbsp;&nbsp;
        </div>
        <div class="col-md-3">
            Sede&nbsp;&nbsp;
        </div>
    </div>
    <form method="get" th:action="@{|/operador/obras/gestion/${obra.id}|}">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-redtele" type="submit" >Buscar</button>
        </div>

        <div class="col-md-2">
            <div class="input-group">
                <select class="form-select fs-13" aria-label="Default select example" name="ano" id="ano">
                    <option value="0" selected>Todo</option>
                    <option th:each="i: ${#numbers.sequence( menorAno, 2022)}" th:value="${i}" th:text="${i}" th:selected="${ano==i}" >2018</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <select class="form-select fs-13" aria-label="Default select example" name="mes" id="mes">
                    <option value="0" th:selected="${mes==0}">Todo</option>
                    <option value="1" th:selected="${mes==1}">Enero</option>
                    <option value="2" th:selected="${mes==2}">Febrero</option>
                    <option value="3" th:selected="${mes==3}">Marzo</option>
                    <option value="4" th:selected="${mes==4}">Abril</option>
                    <option value="5" th:selected="${mes==5}">Mayo</option>
                    <option value="6" th:selected="${mes==6}">Junio</option>
                    <option value="7" th:selected="${mes==7}">Julio</option>
                    <option value="8" th:selected="${mes==8}">Agosto</option>
                    <option value="9" th:selected="${mes==9}">Septiembre</option>
                    <option value="10" th:selected="${mes==10}">Octubre</option>
                    <option value="11" th:selected="${mes==11}">Noviembre</option>
                    <option value="12" th:selected="${mes==12}">Diciembre</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <select class="form-select fs-13" aria-label="Default select example" name="sede" id="sede">
                    <option  value="0">Todo</option>
                    <option th:each="sede : ${listaSedes}" th:text="${sede.nombre}" th:value="${sede.id}" th:selected="${sedeId==sede.id}">Miraflores</option>
                </select>
            </div>
        </div>
    </div>
    </form>
    <table class="table hover-light align-middle mb-0  round-border text-center" th:unless="${paginas==0}"
            th:classappend="${paginas<=1?'mb-4': ''}">
        <thead class="bg-light">
        <tr class="bg-dark">
            <th class="text-white fw-bold">Sala</th>
            <th class="text-white fw-bold">Sede</th>
            <th class="text-white fw-bold">Fecha</th>
            <th class="text-white fw-bold">Hora</th>
            <th class="text-white fw-bold">Estado</th>
            <th class="text-white fw-bold">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" funcion : ${funciones}">
            <td th:text="${funcion.sala.numero}"></td>
            <td th:text="${funcion.sala.sede.nombre}"></td>
            <td th:text="${funcion.fecha}"></td>
            <td th:text="${funcion.inicio}"></td>
            <td>
                <span th:if="${funcion.getEstadoRVC() == 'Vigente'}" class="badge badge-success rounded-pill d-inline fs-13">Vigente</span>
                <span th:if="${funcion.getEstadoRVC() == 'Cancelada'}" class="badge badge-danger rounded-pill d-inline fs-13">Cancelada</span>
                <span th:if="${funcion.getEstadoRVC() == 'Realizada'}" class="badge badge-info rounded-pill d-inline fs-13">Realizada</span>
            </td>
            <td>
                <a th:unless="${funcion.getEstadoRVC() == 'Cancelada' or funcion.getEstadoRVC() == 'Realizada'}" type="button" class="btn btn-redtele btn-sm btn-rounded" th:href="@{'/operador/funciones/editar?idfuncion=' + ${funcion.id}}"
                        data-mdb-ripple-color="dark">Editar</a>
                <button th:unless="${funcion.getEstadoRVC() == 'Cancelada'}" type="button" style="width: 130px;margin-top: 10px"
                        class="btn btn-outline-success fw-bold btn-sm btn-rounded"
                        data-mdb-ripple-color="dark">
                    Reporte xsl
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav th:replace="fragmentos/paginacion :: paginacion(${ruta},${pag},${paginas})"></nav>

</div>

<footer th:replace="fragmentos/footer.html :: footer"></footer>
    <!-- Modal añadir a destacados -->
    <div class="modal top fade" id="destacados" tabindex="-1" aria-labelledby="anadirModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  ">
            <form method="post" th:action="@{|/operador/obras/destacados/${obra.destacado==0? 'agregar':'quitar'}|}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="destacadosModalLabel">Añadir a destacados</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input hidden name="id" th:value="${obra.id}">
                        <p th:if="${obra.destacado==0}">¿Está seguro que quiere agregar la obra a la lista de destacados?</p>
                        <p th:if="${obra.destacado==1}">¿Está seguro que quiere quitar la obra de la lista de destacados?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                            Cerrar
                        </button>
                        <button type="submit" class="btn btn-redtele" th:text="${obra.destacado==0?'Agregar':'Quitar'}">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!-- Modal Añadir Imagen -->
<div class="modal top fade" id="anadirModal" tabindex="-1" aria-labelledby="anadirModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true" th:if="${fotos.size()<4}">
    <div class="modal-dialog  ">
        <form method="post" th:action="@{|/operador/obras/gestion/${obra.id}/agregarimagen|}" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir imagen</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <script>
                        $(function() {
                            $('.dropify').dropify();
                        });
                    </script>
                    <input  type="file" name="foto" id="foto" class="dropify" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-redtele">Subir</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <!-- Modal Añadir Imagen LIMITE-->
    <div class="modal top fade" id="anadirModal" tabindex="-1" aria-labelledby="anadirModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true" th:unless="${fotos.size()<4}">
        <div class="modal-dialog  ">
            <form>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Limite de Imagenes</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h6>Teleticket tiene como restricción que cada obra tenga como máximo 4 imagenes</h6>
                        </div>
                        <div class="fw-bold mb-3">
                            Disculpe las molestias
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-redtele" data-mdb-dismiss="modal">De acuerdo</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!-- Modal Eliminar Imagen -->
<div class="modal top fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <form method="post" th:action="@{|/operador/obras/gestion/imagenborrar|}">
            <input type="hidden" name="fotoid" id="fotoidEliminar" value="0">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarModalLabel">Eliminar imagen</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        ¿Está seguro que desea eliminar la imagen?
                    </div>
                    <div class="fw-bold mb-3">
                        Este acto es irreversible
                    </div>
                    <div class="w-100 d-flex justify-content-center my-2">
                        <div class="confirmacion-borrar">
                            <img id="imagenABorrar">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-redtele">Eliminar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Principal Imagen -->
<div class="modal top fade" id="principalModal" tabindex="-1" aria-labelledby="principalModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <form method="post" th:action="@{|/operador/obras/gestion/${obra.id}/imagenprincipal|}">
            <input type="hidden" name="fotoid" id="fotoidPrincipal" value="0">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="principalModalLabel">Elegir imagen principal</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        ¿Desea elegir esta imagen como la principal?
                    </div>
                    <div class="w-100 d-flex justify-content-center my-2">
                        <div class="confirmacion-borrar">
                            <img id="imagenAPrincipal">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-redtele">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal msg -->
<div th:if="${msg!=null}" class="modal top fade" id="msgModal" tabindex="-1" aria-labelledby="msgModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <img th:src="@{/img/logo-teleticket-alt.png}" height="40" alt="Teleticket logo" loading="lazy" style="margin-top: 2px;"/>
                    </div>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class=" w-100 d-flex justify-content-center mb-3">
                        <i class="fa-solid fa-circle-check" style="font-size: 50px" th:class="${error==null? 'fa-solid fa-circle-check text-success': 'fa-solid fa-circle-xmark text-danger'  }"></i>
                    </div>
                    <div class="w-100 d-flex justify-content-center my-2" th:text="${msg}">
                    </div>
                </div>
            </div>
    </div>
</div>


<script th:src="@{/dropify/js/dropify.js}"></script>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript">
    function setEliminarModal(id){
        var button = document.getElementById(id);
        fotoid = button.getAttribute("data-fotoid");
        src = button.getAttribute("data-src");
        $('#fotoidEliminar').val(fotoid);
        $('#eliminarModal img').attr('src',src);
        $('#eliminarModal').modal('toggle');
    }

    function setPrincipalModal(id){
        var button = document.getElementById(id);
        fotoid = button.getAttribute("data-fotoid");
        src = button.getAttribute("data-src");
        $('#fotoidPrincipal').val(fotoid);
        $('#principalModal img').attr('src',src);
        $('#principalModal').modal('toggle');
    }
</script>
<script type="text/javascript" th:if="${msg != null}">
    $(window).on('load', function() {
        $('#msgModal').modal('show');
    });
</script>
    <script>
        var uploadField = document.getElementById("foto");

        uploadField.onchange = function() {
            if(this.files[0].size > 5248000){
                alert("El archivo es muy grande!");
                this.value = "";
            };
        };
    </script>
</body>
</html>