<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Login')"></head>
<head>
    <nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<body>
<div class="container py-5 d-flex justify-content-center align-items-center">
    <div class="p-4 bg-dark text-white rounded-7 w-50" >
        <form autocomplete="off" th:action="@{/enviarcorreocambio}" method="post">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class=" title-24 mb-3 text-white text-center">
                <img th:src="@{/img/logo-teleticket.png}" height="60" alt="Teleticket logo" loading="lazy" style="margin-top: 2px;"/>
            </div>
            <div class="title-24 mb-3 text-white text-center ">Ingresa el correo asociado a tu cuenta</div>
            <div style="text-align: center">

                <div class=" text-center mb-4 align-items-center d-flex" style="min-width: 200px;">
                    <div  style="padding-left: 90px; padding-right: 90px" class="w-100" >
                        <div class="form-outline form-white mb-4">
                            <input type="text" name="correo" id="correo" class="form-control" />
                            <label class="form-label" for="correo">Correo</label>
                        </div>
                        <div th:if="${error!=null}" th:text="${error}" class="text-redtele mb-3">
                            No pudimos encontrar la cuenta
                        </div>
                        <!--Submit button-->
                        <button type="submit" class="btn btn-light mb-4" >Enviar</button>
                        <!-- Register buttons -->
                        <div class="text-center" style="border-top-color: white; border-top: 2px solid white; padding-top: 20px">
                            <div class="pb-3">
                                <span>¿Aún no tienes cuenta? </span>
                                <a th:href="@{/registro}" class=" mx-2 text-redtele mb-4" >Regístrate</a>
                            </div>
                            <a type="button" th:href="@{/oauth2/authorization/google}"  class="my-2 btn btn-redtele">
                                <i class="fab fa-google me-2"></i> Ingresa con Google
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragmentos/footer.html :: footer"></footer>

<div th:replace="fragmentos/navbar.html :: menu"></div>

</body>

<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('button[type="submit"]').click(function() {
            $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> ' +
                '  Cargando...')
        });
    });
</script>
</html>