<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Mis tickets')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/tables.css}" />
</head>
<body>

<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<div class="d-flex" >
    <div th:replace="fragmentos/sidebar-cliente.html :: sidebar('Tickets')"></div>
    <div class="main-cliente">
        <div class="container">
            <div class="row">
                <div class="col mb-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item title-30" style="color: #757575">Mis tickets</li>
                            <li class="breadcrumb-item title-30" th:text="${ticket.idcompra}"></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 mb-3">
                    <div class="title-20 text-black fw-bold">
                        <i class="fas fa-theater-masks"></i>
                        Obra
                    </div>
                    <div class="text-black-50 fs-18">
                        <span th:text="${ticket.funcion.obra.titulo}" ></span>
                    </div>

                    <div class="title-20 text-black fw-bold">
                        <i class="fa-solid fa-location-dot"></i>
                        Sede
                    </div>
                    <div class="text-black-50 fs-18">
                        <span th:text="${ticket.funcion.sala.sede.nombre} + ' - Sala '+${ticket.funcion.sala.numero}" ></span>
                    </div>
                    <div class="text-black-50 fs-18">
                        <span th:text="${ticket.funcion.sala.sede.direccion}" ></span>
                    </div>

                    <div class="title-20 text-black fw-bold">
                        <i class="fa-solid fa-clock"></i>
                        Horario
                    </div>
                    <div class="text-black-50 fs-18">
                        <span th:text="${#temporals.format(ticket.funcion.fecha, 'dd MMMM, yyyy')}+ ' - '+${ticket.funcion.inicio}" ></span>
                    </div>

                    <div class="title-20 text-black fw-bold">
                        <i class="fas fa-ticket "></i>
                        Tickets
                    </div>
                    <div class="text-black-50 fs-18">
                        <span th:text="${ticket.numtickets}" ></span>
                    </div>
                </div>
                <div class="col-md-3 text-end mb-3">
                    <div class="fs-16 mb-2">
                        <span class="text-black-50 align-content-end">Código de retiro: </span>
                        <span class="text-redtele fw-bold align-content-end" th:text="${ticket.idcompra}">XYZ123</span>
                    </div>
                    <img src="https://es.qr-code-generator.com/wp-content/themes/qr/new_structure/markets/core_market/generator/dist/generator/assets/images/websiteQRCode_noFrame.png"
                         class="w-100 border-1 border-black" style="border-style: solid;" alt="qr"/>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-9 mb-5 title-20">
                    <span >
                        Total:
                    </span>
                    <span class="text-redtele fs-22" th:text="'S/ '+${#numbers.formatDecimal(ticket.total,1,2,'POINT')}">
                    </span>
                </div>
                <div class="col-md-3 text-end mb-5">
                    <button type="button" th:if="${nocancelable==null}" class="btn btn-redtele rounded-9 fs-14" data-mdb-toggle="modal"
                            data-mdb-target="#cancelarModal">Cancelar compra</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col fs-22 fw-bold">
                    Informacion de la obra
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-3 mb-2">
                    <img th:src="@{|/image/obra/${ticket.funcion.obra.fotoprincipal}|}" class="w-100 rounded-6" />
                </div>
                <div class="col-md-6 mb-2">
                    <div class="title-22 px-2" th:text="${ticket.funcion.obra.titulo}"></div>
                    <div class="px-2">
                        <div class="pill-redtele fs-13 mb-3 me-2" th:text="${ticket.funcion.obra.restricciones}"></div>
                        <div class="pill-white fs-13 mb-3 me-2" th:text="${ticket.funcion.obra.duracion} + ' min'"></div>
                    </div>
                    <div class="px-2">
                        <div class="pill-white fs-13 me-2" th:each="genero : ${ticket.funcion.obra.generos}" th:text="${genero.nombre}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-subtitle fw-bold fs-18 mb-2">
                    Dirigida por
                </div>
                <div class="row row-cols-2 mb-4">
                    <div class="col mb-2" th:each="director : ${ticket.funcion.obra.directores}">
                        <div class="card shadow-0">
                            <a class="link-actor" th:href="@{'/personas/'+${director.id}}" >
                                <div class="d-sm-flex align-items-sm-center">
                                    <div class="actor-image">
                                        <img th:src="@{'/image/persona/'+${director.id}}" th:alt="${director.nombre}">
                                    </div>
                                    <strong class="d-none d-sm-block ms-1 actorname" th:text="${director.nombre}">
                                    </strong>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-subtitle fw-bold fs-18 mb-2">
                    Reparto principal
                </div>
                <div class="row row-cols-2 mb-3 pb-5">
                    <div class="col mb-2" th:each="actor : ${ticket.funcion.obra.actores}">
                        <div class="card shadow-0">
                            <a class="link-actor" th:href="@{'/personas/'+${actor.id}}">
                                <div class="d-sm-flex align-items-sm-center">
                                    <div class="actor-image">
                                        <img th:src="@{'/image/persona/'+${actor.id}}" th:alt="${actor.nombre}">
                                    </div>
                                    <strong class="d-none d-sm-block ms-1 actorname" th:text="${actor.nombre}">
                                    </strong>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="fragmentos/navbar.html :: menu"></div>

<!-- Modal Cancelar Compra -->
<div class="modal top fade" id="cancelarModal" tabindex="-1" aria-labelledby="cancelarModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog ">
        <form method="post" th:action="@{'/cliente/tickets/cancelarcompra'}" th:object="${ticket}">
            <input type="hidden" th:field="*{idcompra}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelarModalLabel">Cancelar compra</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-16">
                    <div>
                        ¿Está seguro que desea cancelar su compra?
                    </div>
                    <div class="fw-bold">
                        Esta acción es irreversible
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-redtele">Cancelar compra</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>

</html>