<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="fragmentos/cabecera.html :: cabecera( titulo = 'Gestión Sede')">
    </head>
    <head>
        <link rel="stylesheet" th:href="@{/dropify/css/dropify.css}"/>
        <!--Table-->
        <link rel="stylesheet" th:href="@{/css/tables.css}">
        <!--Carrousel-->
        <link rel="stylesheet" th:href="@{/css/carrousel.css}">
    </head>

    <body>
        <!-- Start your project here-->
        <script>
            $(document).ready(function () {
                var docWidth = $('body').width(),
                    $wrap = $('#wrap'),
                    $images = $('#wrap .hb'),
                    slidesWidth = $wrap.width();

                $(window).on('resize', function () {
                    docWidth = $('body').width();
                    slidesWidth = $wrap.width();
                })

                $(document).mousemove(function (e) {
                    var mouseX = e.pageX,
                        offset = mouseX / docWidth * slidesWidth - mouseX / 2;

                    $images.css({
                        '-webkit-transform': 'translate3d(' + -offset + 'px,0,0)',
                        'transform': 'translate3d(' + -offset + 'px,0,0)'
                    });
                });
            })
        </script>
        <!-- Navbar-->
        <nav th:replace="fragmentos/navbar.html :: navbar('Sedes')"></nav>

        <!-- Headers sede-->
        <div class="container py-3">
            <div class="row mb-3">
                <div class="text-start col-lg-9">
                    <div class="title-30 py-6" th:text="${sede.nombre}">Sede A</div>
                </div>
                <div class="d-flex align-items-center justify-content-end col-lg-3">
                    <a class="btn rounded-7 btn-redtele btn-sm h-100" type="button"
                       th:href="@{'/admin/sedes/gestion/' +${sede.id}+'/editar'}">
                        <div class="row h-100">
                            <div class="col-3 h-100 d-flex align-items-center"><i  class="fas fa-building fs-24"></i>
                            </div>
                            <div class="col-9 h-100 d-flex align-items-center justify-content-center">Editar Sede</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="fs-16" >
                    <span>Dirección:&nbsp;</span>
                    <span class="fw-bold" th:text="${sede.direccion}"></span>
                </div>
                <div class="fs-16" >
                    <span>Ubicación:&nbsp;</span>
                    <span class="fw-bold" th:text="${sede.latitud + ' , ' + sede.longitud}"></span>
                </div>
                <div class="fs-16" >
                    <span>Estado:&nbsp;</span>
                    <span class="fw-bold" th:text="${sede.estado}"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="text-start col-lg-9">
                    <div class="title-26 py-6">Imágenes</div>
                </div>
                <div class="d-flex align-items-center justify-content-end col-lg-3">
                    <a class="btn btn-redtele btn-sm h-100 rounded-7" type="button"
                       data-mdb-toggle="modal" data-mdb-target="#anadirModal">
                        <div class="row h-100">
                            <div class="col-3 h-100 d-flex align-items-center"><i  class="fa fa-solid fa-images fs-24"></i>
                            </div>
                            <div class="col-9 h-100 d-flex align-items-center justify-content-center" >Añadir imagen</div>
                        </div>
                    </a>
                </div>
            </div>
        <!-- Imágenes -->
        <div class="mb-5 overflow-hidden" style="position: relative; ">
            <div id="wrap" class="carousel">
                <div href="#" class="hb" th:each="fotoid : ${fotos}">
                    <div class="container-borrar">
                        <img th:src="@{|/image/sede/${fotoid}|}"
                             class="image-borrar" style="width:100%">
                        <div th:unless="${fotoid == sede.fotoprincipal}" class="middle-borrar col">
                            <button class="btn btn-dark mb-3" th:attr="data-fotoid=${fotoid}, data-src='/image/sede/'+${fotoid}"
                                    th:id="'e'+ ${fotoid}" onclick="setEliminarModal(id)">
                                Eliminar
                            </button>
                            <button class="btn btn-redtele"  th:attr="data-fotoid=${fotoid}, data-src='/image/sede/'+${fotoid}"
                                    th:id="'f'+ ${fotoid}" onclick="setPrincipalModal(id)">
                                <i class="fa-solid fa-bookmark"></i> Principal
                            </button>
                        </div>
                        <div th:if="${fotoid == sede.fotoprincipal}" class="middle-borrar col text-white fs-14">
                            <i class="fa-solid fa-bookmark"></i> Foto principal
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="text-start col-lg-9">
                <div class="title-26 py-6">Salas</div>
            </div>
            <div class="d-flex align-items-center justify-content-end col-lg-3">
                <a class="btn btn-redtele btn-sm h-100 rounded-7" type="button"
                   th:href="@{'/admin/sedes/gestion/'+ ${sede.id} +'/nuevasala'}">
                    <div class="row h-100">
                        <div class="col-3 h-100 d-flex align-items-center"><i  class="fa fa-couch col fs-24"></i>
                        </div>
                        <div class="col-9 h-100 d-flex align-items-center justify-content-center">Nueva Sala</div>
                    </div>
                </a>
            </div>
        </div>
            <table class="table content-table table-hover text-center" th:unless="${paginas==0}">
                <thead>
                    <tr class="bg-black ">
                        <th scope="col"><b>Número de sala</b></th>
                        <th scope="col"><b>Capacidad</b></th>
                        <th scope="col"><b>Estado</b></th>
                        <th scope="col"><b>Acciones</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sala : ${salas}">
                        <td class="py-4" th:text="${'Sala '+sala.numero}">Sala 1</td>
                        <td class="py-4" th:text="${sala.aforo + ' personas'}">250 personas</td>
                        <td class="py-4 text-success">
                            <span class="badge rounded-pill d-inline"
                                  th:classappend="${sala.estado=='Disponible'? 'badge-success': 'badge-danger'}"
                                  style="font-size: 13px" th:text="${sala.estado}">Disponible</span></td>
                        <td>
                            <a class="btn btn-redtele" th:href="@{'/admin/sedes/gestion/editarsala?id='+ ${sala.id}}">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav th:replace="fragmentos/paginacion :: paginacion(${'/admin/sedes/gestion/' + sede.id},${pag},${paginas})"></nav>
        </div>
        <footer th:replace="fragmentos/footer.html :: footer"></footer>

        <!-- Modal Añadir Imagen -->
        <div class="modal top fade" id="anadirModal" tabindex="-1" aria-labelledby="anadirModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true" th:if="${fotos.size()<4}">
            <div class="modal-dialog  ">
                <form method="post" th:action="@{|/admin/sedes/gestion/${sede.id}/agregarimagen|}" enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Añadir imagen</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <script>
                                $(function() {
                                    $('.dropify').dropify();
                                });
                            </script>
                            <input  type="file" name="foto" class="dropify" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                                Cerrar
                            </button>
                            <button type="submit" class="btn btn-redtele">Subir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Añadir Imagen LIMITE-->
        <div class="modal top fade" id="anadirModal" tabindex="-1" aria-labelledby="anadirModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true" th:unless="${fotos.size()<4}">
            <div class="modal-dialog  ">
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Limite de Imagenes</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <h6>Teleticket tiene como restricción que cada sede tenga como máximo 4 imagenes</h6>
                            </div>
                            <div class="fw-bold mb-3">
                                Disculpe las molestias
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-redtele" data-mdb-dismiss="modal">De acuerdo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Eliminar Imagen -->
        <div class="modal top fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
            <div class="modal-dialog  ">
                <form method="post" th:action="@{|/admin/sedes/gestion/imagenborrar|}">
                    <input type="hidden" name="fotoid" id="fotoidEliminar" value="0">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="eliminarModalLabel">Eliminar imagen</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                ¿Está seguro que desea eliminar la imagen?
                            </div>
                            <div class="fw-bold mb-3">
                                Este acto es irreversible
                            </div>
                            <div class="w-100 d-flex justify-content-center my-2">
                                <div class="confirmacion-borrar">
                                    <img id="imagenABorrar">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-redtele">Eliminar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Principal Imagen -->
        <div class="modal top fade" id="principalModal" tabindex="-1" aria-labelledby="principalModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
            <div class="modal-dialog  ">
                <form method="post"  th:action="@{|/admin/sedes/gestion/${sede.id}/imagenprincipal|}">
                    <input type="hidden" name="fotoid" id="fotoidPrincipal" value="0">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="principalModalLabel">Elegir imagen principal</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                ¿Desea elegir esta imagen como la principal?
                            </div>
                            <div class="w-100 d-flex justify-content-center my-2">
                                <div class="confirmacion-borrar">
                                    <img id="imagenAPrincipal">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-redtele">Confirmar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal msg -->
        <div th:if="${msg!=null}" class="modal top fade" id="msgModal" tabindex="-1" aria-labelledby="msgModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
            <div class="modal-dialog  ">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <img th:src="@{/img/logo-teleticket-alt.png}" height="40" alt="Teleticket logo" loading="lazy" style="margin-top: 2px;"/>
                        </div>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class=" w-100 d-flex justify-content-center mb-3 text-success">
                            <i class="fa-solid fa-circle-check" style="font-size: 50px"></i>
                        </div>
                        <div class="w-100 d-flex justify-content-center my-2" th:text="${msg}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
    <script type="text/javascript"  th:src="@{/dropify/js/dropify.js}"></script>
    <script type="text/javascript">
        function setEliminarModal(id){
            var button = document.getElementById(id);
            fotoid = button.getAttribute("data-fotoid");
            src = button.getAttribute("data-src");
            $('#fotoidEliminar').val(fotoid);
            $('#eliminarModal img').attr('src',src);
            $('#eliminarModal').modal('toggle');
        }

        function setPrincipalModal(id){
            var button = document.getElementById(id);
            fotoid = button.getAttribute("data-fotoid");
            src = button.getAttribute("data-src");
            $('#fotoidPrincipal').val(fotoid);
            $('#principalModal img').attr('src',src);
            $('#principalModal').modal('toggle');
        }
    </script>
    <script type="text/javascript" th:if="${msg != null}">
        $(window).on('load', function() {
            $('#msgModal').modal('show');
        });
    </script>
</html>