<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Sedes')"></head>
<body class="bg-lightgrey">
<nav th:replace="fragmentos/navbar.html :: navbar('sedes')"></nav>
    <!--Contenidos-->

<div class="container py-3" >
    <!-- Lista sedes -->
    <div class="row mb-3">
        <div class="text-start col-lg-9">
            <div class="title-26 py-6">Gestión de sedes</div>
        </div>
        <div class="d-flex align-items-center justify-content-end col-lg-3">
            <a class="btn rounded-7 btn-redtele btn-sm h-100" type="button"
               th:href="@{'/admin/sedes/nueva'}">
                <div class="row h-100">
                    <div class="col-3 h-100 d-flex align-items-center"><i  class="fas fa-building fs-24"></i>
                    </div>
                    <div class="col-9 h-100 d-flex align-items-center justify-content-center">Nueva Sede</div>
                </div>
            </a>
        </div>
    </div>
    <div class="container badge-danger  border round-border" style="height: 70px;display: flex;justify-content: center;align-items: center;"th:if="${listaSedes.isEmpty()}" >
        <h3>No se han encontrado sedes que coincidan con la busqueda</h3>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 py-3 mb-4" th:unless="${listaSedes.isEmpty()}">
        <div class="col" th:each="sede : ${listaSedes}">
            <div class="card h-100 position-relative">
                <div class="card-tele">
                    <div class="card-tele-img">
                        <a th:href="@{'/admin/sedes/gestion/'+ ${sede.id}}" >
                            <img th:src="@{'/image/sede/'+${sede.fotoprincipal}}" alt="Sede" class="img-fluid rounded-start img-cover"/>
                        </a>

                    </div>
                    <div class="card-tele-body pb-2">
                        <div class="card-tele-title" th:text="${sede.nombre}"></div>
                        <div class="card-tele-subtitle" th:text="${sede.direccion}"></div>
                        <div class="mt-2">
                            <span class="badge rounded-pill d-inline badge-success fs-13" th:if="${sede.estado=='Disponible'}">
                                <i class="fas fa-check-circle"></i>
                                Disponible
                            </span>
                            <span class="badge rounded-pill d-inline badge-warning fs-13" th:if="${sede.estado=='Mantenimiento'}">
                                <i class="fas fa-tools"></i>
                                En Mantenimiento
                            </span>
                            <span class="badge rounded-pill d-inline badge-danger fs-13" th:if="${sede.estado=='Clausurada'}">
                                <i class="fas fa-times-circle"></i>
                                Clausurada
                            </span>
                        </div>
                    </div>
                    <div class="card-tele-footer justify-content-end">
                        <div class="d-flex align-items-end">
                            <a class="text-redtele my-2 fs-13" id="gestionobra" th:href="@{'/admin/sedes/gestion/'+ ${sede.id}}">
                                <span class="fw-bold"> Gestión de sede</span>
                                <i class="ms-1 fas fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <nav th:replace="fragmentos/paginacion :: paginacion(${ruta},${pag},${paginas})"></nav>
</div>
    <!--Fin de contenidos-->
    <!-- Modal msg -->
    <div th:if="${msg!=null}" class="modal top fade" id="msgModal" tabindex="-1" aria-labelledby="msgModal"
         aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  ">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <img th:src="@{/img/logo-teleticket-alt.png}" height="40" alt="Teleticket logo"
                             loading="lazy" style="margin-top: 2px;"/>
                    </div>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class=" w-100 d-flex justify-content-center mb-3">
                        <i class="fa-solid fa-circle-check" style="font-size: 50px"
                           th:class="${error==null? 'fa-solid fa-circle-check text-success': 'fa-solid fa-circle-xmark text-danger'  }"></i>
                    </div>
                    <div class="w-100 d-flex justify-content-center my-2" th:text="${msg}">
                    </div>
                </div>
            </div>
        </div>
    </div>


<footer th:replace="fragmentos/footer.html :: footer"></footer>
    <!-- End your project here-->
<div th:replace="fragmentos/navbar.html :: menu"></div>
    <script type="text/javascript" th:if="${msg != null}">
        $(window).on('load', function () {
            $('#msgModal').modal('show');
        });
    </script>
</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script  type="text/javascript" th:src="@{/js/busqueda.js}"></script>
</html>
