<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Menú Administrador')"></head>
<body>
<nav th:replace="fragmentos/navbar.html :: navbar('Sedes')"></nav>
    <!--Contenidos-->

<div class="container py-3" >
    <!-- Lista sedes -->
    <div class="title-24">
        Lista sedes
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 py-3">
        <!--Card 1-->
        <div class="col" th:each="sede : ${listaSedes}">
            <div class="card h-100 position-relative">
                <div class="row h-100">

                    <div class="col-md-6 pe-0">
                        <a class="text-dark" href="#"></a>
                            <img src="https://wallpaperaccess.com/full/1561985.jpg" alt="Sede San Borja" class="img-fluid rounded-start img-cover"/>
                        </a>
                    </div>

                    <div class="col-md-6 p-3 pe-4">
                        <a class="text-dark" href="#">
                            <div class="fw-bold mb-2 fs-14 card-tele-title" th:text="${sede.nombre}">Sede San Borja</div>
                            <div class="mb-2 card-tele-subtitle" th:text="${sede.direccion}">
                                    Av. Javier Prado Este 2225, San Borja 15021
                            </div>
                            <div th:text="${'('+sede.latitud+', '+sede.longitud+')'}">
                                (-12.087349, -77.002893)
                            </div>
                            <div class="mb-2 fw-bold text-end" th:text="${sede.estado}">
                                Activa
                            </div>
                        </a>

                        <div class="text-end">
                            <a class="btn btn-redtele" th:href="@{'/admin/sedes/gestion/'+ ${sede.id}}">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <nav th:replace="fragmentos/paginacion :: paginacion('/admin/sedes',${pag},${paginas})"></nav>
</div>
    <!--Fin de contenidos-->

<footer th:replace="fragmentos/footer.html :: footer"></footer>
    <!-- End your project here-->
    
    

<!-- Custom scripts -->
<script type="text/javascript">

</script>
</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
</html>
