<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Obras')"></head>
<body>
<nav th:replace="fragmentos/navbar.html :: navbar('obras')"></nav>
<!--Contenidos-->

<div class="container py-3">
    <!-- Lista obras -->

    <div class="title-24" th:unless="${param.busqueda!=null && param.busqueda[0].toString()!=''}" >
        Mostrando todas las obras en cartelera
    </div>

    <div class="title-24" th:if="${param.busqueda!=null && param.busqueda[0].toString()!=''}" th:text="${'Mostrando resultados para &quot;'+ param.busqueda + '&quot;' }">
    </div>

    <div th:if="${listaObras.isEmpty()}"  style="border-radius: 20px; background: #e6e6e6;margin-top: 30px;height: 450px;">
        <div class="container py-4" style="display: flex; text-align: center; justify-content: center">
            <img th:src="@{/img/sorry.png}" style="width: 150px; border-radius:20%; margin-top: 80px"/>
        </div>
        <div class="container" style="display: flex; text-align: center; justify-content: center">
            <h4 class="fw-bold" style="font-size: 19px">Lo sentimos, no se han encontrado resultados con su busqueda</h4>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 py-3" th:unless="${listaObras.isEmpty()}">
        <div class="col" th:each="obras : ${listaObras}">
            <div class="h-100 position-relative">
                <div class=" card card-tele" th:href="@{'/obras/' + ${obras.id}}">
                    <div class="card-tele-img">
                        <img th:src="@{'/image/obra/'+${obras.fotoprincipal}}" th:alt="${obras.otitulo}"
                             class="img-fluid img-cover"/>

                        <div class="middle-content col">
                            <a class="btn btn-redtele" th:href="@{'/obras/'+ ${obras.id}}">
                                <i class="fas fa-ticket-alt"></i>
                                Comprar
                            </a>
                        </div>
                    </div>
                    <div class="card-tele-body">
                        <div class="card-tele-title" th:text="${obras.otitulo}">
                        </div>
                    </div>
                    <div class="card-tele-footer">
                        <div class="d-flex align-items-end">
                            <span>Desde&nbsp;&nbsp;</span>
                            <span class="fw-bold fs-14" th:text="'S/ '+${#numbers.formatDecimal(obras.minprecio,1,2,'POINT')}">S/ 35.00</span>
                        </div>
                        <a class="btn btn-redtele btn-comprar" th:href="@{'/obras/'+ ${obras.id}}">
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav th:replace="fragmentos/paginacion :: paginacion(${ruta},${pag},${paginas})"></nav>
</div>
<!--Fin de contenidos-->

<footer th:replace="fragmentos/footer.html :: footer"></footer>
<div th:replace="fragmentos/navbar.html :: menu"></div>
</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script  type="text/javascript" th:src="@{/js/busqueda.js}"></script>
</html>
