<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Mi perfil')"></head>
<head>
    <style>
        .dropify-wrapper{
            height: 250px !important;
        }
    </style>
    <link rel="stylesheet" th:href="@{/dropify/css/dropify.css}"/>
</head>
<body>
<script>
    $(function() {
        $('.dropify').dropify();
    });
</script>

<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<div class="d-flex" style="height: -webkit-fill-available;">
    <div th:replace="fragmentos/sidebar-cliente.html :: sidebar('Perfil')"></div>
    <div class="main-cliente">
        <div class="container">
            <div class="row">
                <div class="col mb-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item title-30">Mi perfil</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mb-3 fs-16">
                    <div class="row row-cols-1 row-cols-md-2" >
                        <div class="col">
                            <label class="form-label">Nombre</label>
                            <div class="fw-bold mb-3" th:text="${session.usuario.nombre}"></div>
                        </div>
                        <div class="col">
                            <label  class="form-label">Apellido</label>
                            <div class="fw-bold mb-3" th:text="${session.usuario.apellido}"></div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2" >
                        <div class="col">
                            <label class="form-label">DNI</label>
                            <div class="fw-bold mb-3" th:text="${session.usuario.dni}"></div>
                        </div>
                    </div>

                    <form method="post" th:action="@{/cliente/actualizar}" th:object="${cliente}">
                        <div class="row row-cols-1 row-cols-md-2 " >
                            <div class="col">
                                <label class="form-label">Celular</label>
                                <input th:field="*{celular}" type="text" class="form-control fs-16 mb-3"
                                       th:classappend="${#fields.hasErrors('celular')?'is-invalid':''}"/>
                                <div class="text-danger mb-3" th:if="${#fields.hasErrors('celular')}"
                                     th:errors="*{celular}"></div>
                            </div>
                            <div class="col">
                                <label class="form-label">Direccion</label>
                                <input th:field="*{direccion}" type="text" class="form-control fs-16 mb-3"
                                       th:classappend="${#fields.hasErrors('direccion')?'is-invalid':''}"/>
                                <div class="text-danger mb-3" th:if="${#fields.hasErrors('direccion')}"
                                     th:errors="*{direccion}"></div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 " >
                            <div class="col">
                                <label class="form-label">Fecha de nacimiento</label>
                                <input th:field="*{nacimiento}" type="date" class="form-control fs-16 mb-3"
                                       th:classappend="${#fields.hasErrors('nacimiento')?'is-invalid':''}"/>
                                <div class="text-danger mb-3" th:if="${#fields.hasErrors('nacimiento')}"
                                     th:errors="*{nacimiento}"></div>
                            </div>
                        </div>
                        <div class="row text-end my-2">
                            <div>
                                <button type="submit" class="btn btn-redtele text-center">Guardar cambios</button>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="bg-image hover-overlay ripple user-page d-inline-block mb-3">
                        <img th:src="@{'/cliente/imagen'}" >
                        <a href="#!" data-mdb-toggle="modal" data-mdb-target="#imagenModal">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <p class="text-white mb-0">Cambiar imagen</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Añadir Imagen -->
<div class="modal top fade" id="imagenModal" tabindex="-1" aria-labelledby="imagenModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <form method="post" th:action="@{/cliente/cambiarimagen}" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambiar imagen</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center py-4">
                    <div style="height: 250px; width: 250px">
                        <script>
                            $(function() {
                                $('.dropify').dropify();
                            });
                        </script>
                        <input  type="file" name="foto" id="foto" data-max-file-size="1M" class="dropify" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-redtele">Subir</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal msg -->
<div th:if="${msg!=null}" class="modal top fade" id="msgModal" tabindex="-1" aria-labelledby="msgModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <img th:src="@{/img/logo-teleticket-alt.png}" height="40" alt="Teleticket logo" loading="lazy" style="margin-top: 2px;"/>
                </div>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=" w-100 d-flex justify-content-center mb-3">
                    <i class="fa-solid fa-circle-check" style="font-size: 50px" th:class="${error==null? 'fa-solid fa-circle-check text-success': 'fa-solid fa-circle-xmark text-danger'  }"></i>
                </div>
                <div class="w-100 d-flex justify-content-center my-2" th:text="${msg}">
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script th:src="@{/dropify/js/dropify.js}"></script>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript" th:if="${msg != null}">
    $(window).on('load', function() {
        $('#msgModal').modal('show');
    });
</script>
</html>