<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Sedes')"></head>
<body>
<nav th:replace="fragmentos/navbar.html :: navbar('sedes')"></nav>
<!-- Fin de Navbar -->
<div class="container py-3" >
    <!-- Lista sedes -->
    <div class="title-24" th:unless="${param.busqueda!=null && param.busqueda[0].toString()!=''}" >
        Mostrando todas las Sedes
    </div>

    <div class="title-24" th:if="${param.busqueda!=null && param.busqueda[0].toString()!=''}" th:text="${'Mostrando resultados para &quot;'+ param.busqueda + '&quot;' }">
    </div>

    <div th:if="${listaSedes.isEmpty()}"  style="border-radius: 20px; background: #e6e6e6;margin-top: 30px;height: 450px;">
        <div class="container py-4" style="display: flex; text-align: center; justify-content: center">
            <img th:src="@{/img/sorry.png}" style="width: 150px; border-radius:20%; margin-top: 80px"/>
        </div>
        <div class="container" style="display: flex; text-align: center; justify-content: center">
            <h4 class="fw-bold" style="font-size: 19px">Lo sentimos, no se han encontrado resultados con su busqueda</h4>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 py-3 mb-4" th:unless="${listaSedes.isEmpty()}">
        <div class="col" th:each="sede : ${listaSedes}">
            <div class="card h-100 position-relative">
                <div class="card-tele">
                    <div class="card-tele-img">
                        <a th:href="@{'/sedes/'+ ${sede.id}}" >
                            <img th:src="@{'/image/sede/'+${sede.fotoprincipal}}" alt="Sede" class="img-fluid rounded-start img-cover"/>
                        </a>

                    </div>
                    <div class="card-tele-body pb-2">
                        <div class="card-tele-title" th:text="${sede.nombre}"></div>
                        <div class="card-tele-subtitle" th:text="${sede.direccion}"></div>
                    </div>
                    <div class="card-tele-footer justify-content-end">
                        <div class="d-flex align-items-end">
                            <a class="btn btn-redtele" th:href="@{'/sedes/'+ ${sede.id}}">Ver más</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <nav th:replace="fragmentos/paginacion :: paginacion(${ruta},${pag},${paginas})"></nav>
</div>

<!-- Footer -->
<footer th:replace="fragmentos/footer.html :: footer"></footer>
<div th:replace="fragmentos/navbar.html :: menu"></div>
</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script  type="text/javascript" th:src="@{/js/busqueda.js}"></script>
</html>