<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Clientes')">
</head>
<head>
    <link rel="stylesheet" th:href="@{'/css/tables.css'}"/>
</head>
<body>
<nav th:replace="fragmentos/navbar.html :: navbar('clientes')"></nav>

<!--Contenidos-->
<div class="container py-2 ">

    <div class="title-22 py-4">
        Listado de clientes
    </div>
    <!-- Small button groups (default and split) -->

    <div class="container">
        <div class="btn-group dropstart">
            <button class="btn btn-redtele btn-sm dropdown-toggle" type="button" data-mdb-toggle="dropdown"
                    aria-expanded="false" th:text="${filtro==null? 'Filtros': filtro}">
                Filtros
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{|/admin/clientes/concompras|}">Cuentas con historial de compras</a></li>
                <li><a class="dropdown-item" th:href="@{|/admin/clientes/concriticas|}">Cuentas con historial de críticas</a></li>
                <li><a class="dropdown-item" th:href="@{|/admin/clientes/sinhistorial|}">Cuentas sin historial</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" th:href="@{|/admin/clientes|}">Limpiar filtro</a></li>
            </ul>
        </div>
    </div>
    <br>
    <table class="hover content-table" width="100%">
        <thead class="bg-light">
            <tr class="bg-dark" style="font-size: 14px">
                <th class="text-white fw-bold">Nombre</th>
                <th class="text-white fw-bold">Apellidos</th>
                <th class="text-white fw-bold">Edad</th>
                <th class="text-white fw-bold">Correo</th>
                <th class="text-white fw-bold">Teléfono</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px">
            <tr th:each="cliente : ${listaClientes}">
                <td class="fw-bold" th:text="${cliente.nombre}">
                    Alejandro david
                </td>
                <td class="fw-bold"  th:text="${cliente.apellido}">
                    Rosales Milagros
                </td>
                <td th:text="${cliente.edad}">
                    28
                </td>
                <td th:text="${cliente.correo}">
                    Alejandro@correo.es
                </td>
                <td th:text="${cliente.celular}">
                    981239289
                </td>
            </tr>

        </tbody>
    </table>
    <!--Paginacion-->
    <nav th:replace="fragmentos/paginacion :: paginacion(${ruta},${pag},${paginas})"></nav>

</div>
<!--Footer-->
<footer th:replace="fragmentos/footer.html :: footer"></footer>

<div th:replace="fragmentos/navbar.html :: menu"></div>

</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script  type="text/javascript" th:src="@{/js/busqueda.js}"></script>
</html>