<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Estadísticas')">
</head>
<head>
    <script th:src="@{/selectize/js/standalone/selectize.js}"></script>
    <link th:href="@{/selectize/css/selectize.bootstrap5.css}" rel="stylesheet">
    <style>
        .selectize-input{
            padding-right: 2.2rem;
        }
    </style>
</head>
<body>

<nav th:replace="fragmentos/navbar.html :: navbar('funciones')"></nav>

<!--Contenidos-->
<div class="container py-3 ">

    <div class="title-22 py-4">
        Estadísticas
    </div>

    <section class="mb-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="title-24">
                            Estadísticas por obra
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Obra</label>
                        <select class=" fs-13" aria-label="Default select example" name="obra" id="obra">
                            <option value="">--Selecciona una obra--</option>
                            <option th:each="obra : ${listaObras}" th:text="${obra.titulo}" th:value="${obra.id}">
                            </option>
                        </select>
                        <script>
                            $("select[name*='obra']").selectize({
                                sortField: 'text'
                            });
                        </script>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </section>

    <!--Seccion: Mejores actores y directores-->
    <section class="mb-4">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="title-24">
                                Actores mejor calificados
                            </div>
                            <table class="table round-border align-middle table-hover text-nowrap"
                                   style="min-width: 450px">
                                <thead class="bg-dark text-white">
                                <tr>
                                    <th class="fw-bold">Nombre</th>
                                    <th class="fw-bold">Puntuación</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="actor : ${actores}">
                                        <td scope="row">
                                            <div class="d-flex align-items-center">
                                                <div class="actor-image">
                                                    <img th:src="@{'/image/persona/'+${actor.id}}"/>
                                                </div>
                                                <div class="ms-3">
                                                    <p class="fw-bold mb-1" th:text="${actor.nombre}"></p>
                                                </div>
                                            </div>

                                        </td>
                                        <td th:text="${actor.pactuacion}+' / 5'">
                                            <i class="ms-1 fa-solid fa-star "></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="title-24">
                                Directores mejor calificados
                            </div>
                            <table class="table align-middle table-hover round-border text-nowrap"
                                   style="min-width: 450px">
                                <thead class="bg-dark text-white">
                                <tr>
                                    <th class="fw-bold">Nombre</th>
                                    <th class="fw-bold">Puntuación</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="director : ${directores}">
                                        <td scope="row">
                                            <div class="d-flex align-items-center">
                                                <div class="actor-image">
                                                    <img th:src="@{'/image/persona/'+${director.id}}"/>
                                                </div>
                                                <div class="ms-3">
                                                    <p class="fw-bold mb-1" th:text="${director.nombre}"></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td th:text="${director.pdireccion}+ ' / 5'">
                                            <i class="ms-1 fa-solid fa-star "></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Section: Minimal statistics cards-->
    <section>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-danger" th:text="${totalSedes}"></h3>
                                <p class="mb-0">Total Sedes Disponibles</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-map-marker-alt text-danger fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-success" th:text="${totalCliente}">156</h3>
                                <p class="mb-0">Total Clientes</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-user text-success fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-warning" th:text="${totalObras}">19</h3>
                                <p class="mb-0">Obras en Cartelera</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-masks-theater text-warning fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-info" th:text="${totalAD}">44</h3>
                                <p class="mb-0">Actores y Directores</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-people-group text-info fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Statistics with subtitles-->
    <section>
        <div class="row">
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4" th:text="${totalTickets}">170</h2>
                                </div>
                                <div>
                                    <h4>Tickets Vendidos</h4>
                                    <p class="mb-0">En el Último Mes</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-ticket text-danger fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4" th:text="'S/ '+${#numbers.formatDecimal(ventas,1,2,'POINT')}">S/ 6000.00</h2>
                                </div>
                                <div>
                                    <h4>Total de Ventas</h4>
                                    <p class="mb-0">Del Último Mes</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-wallet text-success fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer th:replace="fragmentos/footer.html :: footer"></footer>
<div th:replace="fragmentos/navbar.html :: menu"></div>

<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script  type="text/javascript" th:src="@{/js/busqueda.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        $.ajax({
            method:"GET",
            url: "http://" + [[${dominio}]] + "/operador/estadisticas/obra/1"
        }).done(function (response){
            console.log(response);
        })
    });
    /*]]>*/
</script>
</body>