<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Estadísticas')">
</head>
<head>
    <script th:src="@{/selectize/js/standalone/selectize.js}"></script>
    <link th:href="@{/selectize/css/selectize.bootstrap5.css}" rel="stylesheet">
    <style>
        .selectize-input{
            padding-right: 2.2rem;
        }
    </style>
</head>
<body>

<nav th:replace="fragmentos/navbar.html :: navbar('obras')"></nav>

<!--Contenidos-->
<div class="container py-3 ">

    <div class="title-22 py-4">
        Estadísticas
    </div>

    <section class="mb-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="title-24">
                            Estadísticas por obra
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Obra</label>
                        <select class=" fs-13" aria-label="Default select example" name="obra" id="obra">
                            <option value="">Selecciona una obra</option>
                            <option th:each="obra : ${listaObras}" th:text="${obra.titulo}" th:value="${obra.id}">
                            </option>
                        </select>
                        <script>
                            $("select[name*='obra']").selectize({
                                sortField: 'text'
                            });
                        </script>
                    </div>
                </div>
                <div class="row" id="noinfo">
                    <div class="d-flex align-items-center bg-light rounded-6 fw-bold justify-content-center fs-14" style="min-height: 200px; color: #3c3c3c">
                        Acá se mostrará información de la obra que selecciones
                    </div>
                </div>
                <div class="row my-3 d-none" id="obrarow">
                    <div class="col d-flex align-items-center ">
                        <div style="width: 200px; min-width: 200px; height: 120px;border-radius: 10%; overflow: hidden;">
                            <img class="loading" id="fotoobra"  th:src="@{'/'}" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                        <div class="ms-3">
                            <div class="title-24" id="obratitulo"></div>
                        </div>
                    </div>
                    <div class="col justify-content-center d-flex align-items-end flex-column" >
                        <div class="fs-20" id="puntuaciondiv">
                            <strong class="fw-bold align-middle" id="puntuacionobra">
                            </strong>
                            <strong class="align-middle">
                                /5
                            </strong>
                            <i class="ms-1 fa-solid fa-star fs-22"></i>
                        </div>
                        <div class="mt-3">
                            <a class="text-redtele my-2" id="gestionobra" th:href="@{/}">
                                <span class="fw-bold"> Gestión de obra</span>
                                <i class="ms-1 fas fa-chevron-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row my-3 pt-2 row-cols-4 d-none" id="funcionesrow">
                    <div class="text-center">
                        <span class="badge rounded-pill badge-light fs-13" id="totalfunciones"></span>
                    </div>
                    <div class="text-center">
                        <span class="badge rounded-pill badge-info fs-13" id="realizadas"></span>
                    </div>
                    <div class="text-center">
                        <span class="badge rounded-pill badge-success fs-13" id="vigentes"></span>
                    </div>
                    <div class="text-center">
                        <span class="badge rounded-pill badge-danger fs-13" id="canceladas"></span>
                    </div>
                </div>
                <div class="my-3 d-none" id="tablerow">
                    <table class="table hover-light align-middle round-border fs-13">
                        <thead class="bg-light">
                        <tr class="bg-dark">
                            <th></th>
                            <th class="text-white fw-bold text-center">Sala</th>
                            <th class="text-white fw-bold text-center">Sede</th>
                            <th class="text-white fw-bold text-center" width="125px">Fecha</th>
                            <th class="text-white fw-bold text-center">Hora</th>
                            <th class="text-white fw-bold text-center">Vendidos</th>
                            <th class="text-white fw-bold text-center">Recaudación</th>
                            <th class="text-white fw-bold text-center">Calificaciones</th>
                            <th class="text-white fw-bold text-center">Puntuación</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="trmas">
                            <td>Función más vista</td>
                            <td class="text-center" id="salamas"></td>
                            <td class="text-center" id="sedemas"></td>
                            <td class="text-center" id="fechamas"></td>
                            <td class="text-center" id="horamas"></td>
                            <td class="text-center" >
                                <span class="fw-bold" id="vendidosmas"></span>
                            </td>
                            <td class="text-center text-success" id="recaudacionmas"></td>
                            <td class="text-center" id="calificacionesmas"></td>
                            <td class="text-center">
                                <span id="puntuacionmasspan">
                                    <strong class="fw-bold align-middle" id="puntuacionmas">
                                    </strong>
                                    <strong class="align-middle">
                                        /5
                                    </strong>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                </span>
                                <div id="sinpuntuacionmas">
                                    <span  class="badge badge-warning rounded-pill d-inline fs-13">Sin Puntuación</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Función menos vista</td>
                            <td class="text-center" id="salamenos"></td>
                            <td class="text-center" id="sedemenos"></td>
                            <td class="text-center" id="fechamenos"></td>
                            <td class="text-center" id="horamenos"></td>
                            <td class="text-center" >
                                <span class="fw-bold" id="vendidosmenos"></span>
                                <div id="sinventasmenos" >
                                    <span class="badge badge-dark rounded-pill d-inline"style="font-size: 12px">Sin ventas</span>
                                </div>
                            </td>
                            <td class="text-center text-success" id="recaudacionmenos"></td>
                            <td class="text-center" id="calificacionesmenos"></td>
                            <td class="text-center">
                                <span id="puntuacionmenosspan">
                                    <strong class="fw-bold align-middle" id="puntuacionmenos">
                                    </strong>
                                    <strong class="align-middle">
                                        /5
                                    </strong>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                </span>
                                <div id="sinpuntuacionmenos">
                                    <span class="badge badge-warning rounded-pill d-inline fs-13">Sin Puntuación</span>
                                </div>
                            </td>
                        </tr>
                        <tr id="trmejor">
                            <td>Función mejor calificada</td>
                            <td class="text-center" id="salamejor"></td>
                            <td class="text-center" id="sedemejor"></td>
                            <td class="text-center" id="fechamejor"></td>
                            <td class="text-center" id="horamejor"></td>
                            <td class="text-center" >
                                <span class="fw-bold" id="vendidosmejor"></span>
                            </td>
                            <td class="text-center text-success" id="recaudacionmejor"></td>
                            <td class="text-center" id="calificacionesmejor"></td>
                            <td class="text-center">
                                <span id="puntuacionmejorspan">
                                    <strong class="fw-bold align-middle" id="puntuacionmejor">
                                    </strong>
                                    <strong class="align-middle">
                                        /5
                                    </strong>
                                    <i class="ms-1 fa-solid fa-star"></i>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!--Seccion: Mejores actores y directores-->
    <section class="mb-4">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
                <div class="card fs-14">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="title-24">
                                Mejores calificaciones en Actuación
                            </div>
                            <table class="table round-border align-middle table-hover text-nowrap"
                                   style="min-width: 450px">
                                <thead class="bg-dark text-white">
                                <tr>
                                    <th class="fw-bold">Nombre</th>
                                    <th class="fw-bold text-center">Puntuación</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="actor : ${actores}">
                                    <td scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="actor-image">
                                                <img th:src="@{'/image/persona/'+${actor.id}}"/>
                                            </div>
                                            <div class="ms-3">
                                                <p class="fw-bold mb-1 fs-14" th:text="${actor.nombre}"></p>
                                            </div>
                                        </div>

                                    </td>
                                    <td class="text-center" >
                                        <span th:text="${#numbers.formatDecimal(actor.pactuacion.get(),1,2,'POINT')}" class="fs-14 fw-bold"></span>
                                        <span class="fs-14">/5</span>
                                        <i class="ms-1 fa-solid fa-star "></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card fs-14">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="title-24">
                                Mejores calificaciones en Dirección
                            </div>
                            <table class="table align-middle table-hover round-border text-nowrap"
                                   style="min-width: 450px">
                                <thead class="bg-dark text-white">
                                <tr>
                                    <th class="fw-bold">Nombre</th>
                                    <th class="fw-bold text-center">Puntuación</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="director : ${directores}">
                                    <td scope="row">
                                        <div class="d-flex align-items-center">
                                            <div class="actor-image">
                                                <img th:src="@{'/image/persona/'+${director.id}}"/>
                                            </div>
                                            <div class="ms-3">
                                                <p class="fw-bold mb-1 fs-14" th:text="${director.nombre}"></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span th:text="${#numbers.formatDecimal(director.pdireccion.get(),1,2,'POINT')}" class="fs-14 fw-bold"></span>
                                        <span class="fs-14">/5</span>
                                        <i class="ms-1 fa-solid fa-star "></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Section: Minimal statistics cards-->
    <section>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-danger" th:text="${totalSedes}"></h3>
                                <p class="mb-0">Total Sedes Disponibles</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-map-marker-alt text-danger fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-success" th:text="${totalCliente}">156</h3>
                                <p class="mb-0">Total Clientes</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-user text-success fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-warning" th:text="${totalObras}">19</h3>
                                <p class="mb-0">Obras en Cartelera</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-masks-theater text-warning fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div>
                                <h3 class="text-info" th:text="${totalAD}">44</h3>
                                <p class="mb-0">Actores y Directores</p>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-people-group text-info fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Statistics with subtitles-->
    <section>
        <div class="row">
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4" th:text="${totalTickets}">170</h2>
                                </div>
                                <div>
                                    <h4>Tickets Vendidos</h4>
                                    <p class="mb-0">En el Último Mes</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-ticket text-danger fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <h2 class="h1 mb-0 me-4" th:text="'S/ '+${#numbers.formatDecimal(ventas,1,2,'POINT')}">S/ 6000.00</h2>
                                </div>
                                <div>
                                    <h4>Total de Ventas</h4>
                                    <p class="mb-0">Del Último Mes</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <i class="fas fa-wallet text-success fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer th:replace="fragmentos/footer.html :: footer"></footer>
<div th:replace="fragmentos/navbar.html :: menu"></div>

<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script  type="text/javascript" th:src="@{/js/busqueda.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    let noinfo = $('#noinfo');
    let obrarow = $('#obrarow');
    let funcionesrow = $('#funcionesrow');
    let tablerow = $('#tablerow');

    $(document).ready(function (){
        obrarow.removeClass("d-none");
        funcionesrow.removeClass("d-none");
        tablerow.removeClass("d-none");
        hideinfo();
    });

    $("#obra").change(function(){
        let idobra = $('#obra option:selected').val();

        if(!isNaN(idobra)){
            $('#fotoobra').attr('src','/');
            $.ajax({
                method:"GET",
                url: "http://" + [[${dominio}]] + "/operador/estadisticas/obra/"+idobra
            }).done(function (response){
                let o = response.obra;
                if(o!=null && o.totalFunciones>0){
                    showinfo();
                    $('#fotoobra').attr('src','/image/obra/'+o.fotoprincipal);
                    $('#obratitulo').html(o.titulo);
                    if(o.puntuacion>0){
                        $('#puntuaciondiv').show();
                        $('#puntuacionobra').html((Math.round(o.puntuacion * 100) / 100).toFixed(2));
                    }else{
                        $('#puntuaciondiv').hide();
                    }
                    $('#gestionobra').attr('href','/operador/obras/gestion/'+o.id);
                    $('#totalfunciones').html('Total de funciones: '+o.totalFunciones);
                    $('#realizadas').html('Realizadas: '+o.realizadas);
                    $('#vigentes').html('Vigentes: '+ o.vigentes);
                    $('#canceladas').html('Canceladas: '+o.canceladas);
                    let masvista = o.funcionMasVista;
                    if(masvista.vendidos>0){
                        $('#trmas').show();
                        $('#salamas').html(masvista.sala);
                        $('#sedemas').html(masvista.sede);
                        $('#fechamas').html(masvista.fecha);
                        $('#horamas').html(masvista.hora);
                        $('#vendidosmas').html(masvista.vendidos);
                        $('#recaudacionmas').html('S/ '+ (Math.round(masvista.recaudacion * 100) / 100).toFixed(2));
                        $('#calificacionesmas').html(masvista.calificaciones);
                        if(masvista.puntuacion>0){
                            $('#puntuacionmasspan').show();
                            $('#puntuacionmas').html((Math.round(masvista.puntuacion * 100) / 100).toFixed(2));
                            $('#sinpuntuacionmas').hide();
                        }else{
                            $('#puntuacionmasspan').hide();
                            $('#sinpuntuacionmas').show();
                        }
                    }else{
                        $('#trmas').hide();
                    }

                    let menosvista = o.funcionMenosVista;
                    $('#salamenos').html(menosvista.sala);
                    $('#sedemenos').html(menosvista.sede);
                    $('#fechamenos').html(menosvista.fecha);
                    $('#horamenos').html(menosvista.hora);
                    if(menosvista.vendidos>0){
                        $('#vendidosmenos').html(menosvista.vendidos);
                        $('#sinventasmenos').hide();
                        $('#recaudacionmenos').html('S/ '+ (Math.round(menosvista.recaudacion * 100) / 100).toFixed(2));
                    }else{
                        $('#vendidosmenos').html('');
                        $('#sinventasmenos').show();
                    }
                    $('#calificacionesmenos').html(menosvista.calificaciones);
                    if(menosvista.puntuacion>0){
                        $('#puntuacionmenosspan').show();
                        $('#puntuacionmenos').html((Math.round(menosvista.puntuacion * 100) / 100).toFixed(2));
                        $('#sinpuntuacionmenos').hide();
                    }else{
                        $('#puntuacionmenosspan').hide();
                        $('#sinpuntuacionmenos').show();
                    }

                    let mejorcal = o.funcionMejorCalificada;
                    if(mejorcal.puntuacion>0){
                        $('#trmejor').show();
                        $('#salamejor').html(mejorcal.sala);
                        $('#sedemejor').html(mejorcal.sede);
                        $('#fechamejor').html(mejorcal.fecha);
                        $('#horamejor').html(mejorcal.hora);
                        $('#vendidosmejor').html(mejorcal.vendidos);
                        $('#recaudacionmejor').html('S/ '+ (Math.round(mejorcal.recaudacion * 100) / 100).toFixed(2));
                        $('#calificacionesmejor').html(mejorcal.calificaciones);
                        $('#puntuacionmejor').html((Math.round(mejorcal.puntuacion * 100) / 100).toFixed(2));
                    }else{
                        $('#trmejor').hide();
                    }


                }else{
                    hideinfo();
                }

            })
        }else{
            hideinfo();
        }

    });

    function hideinfo(){
        obrarow.hide();
        funcionesrow.hide();
        tablerow.hide();
        noinfo.show();
    }

    function showinfo(){
        obrarow.show();
        funcionesrow.show();
        tablerow.show();
        noinfo.hide();
    }
    /*]]>*/
</script>
</body>