<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Menú Administrador')"></head>
<head>
    <script th:src="@{/selectize/js/standalone/selectize.js}"></script>
    <link th:href="@{/selectize/css/selectize.bootstrap5.css}" rel="stylesheet">
</head>
<body class="bg-lightgrey">
<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<div class="container py-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="card-title text-redtele fs-22">
                    Nueva función
                </div>
            </div>
            <form id="guardarForm" method="post" th:action="@{'/operador/funciones/guardar'}" th:object="${funcion}">
                <input hidden th:field="*{id}">
                <div class="row mb-3">
                    <div class="col" >
                        <span>Sala&nbsp;</span>
                        <span class="fw-bold" th:text="${funcion.sala.numero}+' - '+${funcion.sala.sede.nombre}"></span>
                    </div>
                    <div class="col">
                        <span>Aforo&nbsp;</span>
                        <span class="fw-bold" th:text="${funcion.stock}"    ></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Fecha</label>
                        <input th:field="*{fecha}" type="date" class="form-control"
                               th:classappend="${#fields.hasErrors('fecha')?'is-invalid':''}"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('fecha')}"
                             th:errors="*{fecha}"></div>
                    </div>
                    <div class="col">
                        <label class="form-label">Límite de compra</label>
                        <input th:field="*{maxreservas}" type="text" class="form-control"
                               th:classappend="${#fields.hasErrors('maxreservas')?'is-invalid':''}"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('maxreservas')}"
                             th:errors="*{maxreservas}"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Hora de inicio</label>
                        <input th:field="*{inicio}" type="time" class="form-control"
                               th:classappend="${#fields.hasErrors('inicio')?'is-invalid':''}"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('inicio')}"
                             th:errors="*{inicio}"></div>
                    </div>
                    <div class="col">
                        <label class="form-label">Costo por ticket</label>
                        <input th:field="*{costo}" type="text" class="form-control"
                               th:classappend="${#fields.hasErrors('costo')?'is-invalid':''}"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('costo')}"
                             th:errors="*{costo}"></div>
                    </div>
                </div>
            </form>
            <div class="row mt-5 mb-3">
                <div class="col">
                    <button class="btn btn-redtele" type="submit" form="guardarForm">
                        Guardar
                    </button>
                    <a class="btn btn-dark" th:href="@{'/operador/obras/gestion/' + ${funcion.obra.id}}">
                        Cancelar
                    </a>
                </div>
                <div class="col text-end">
                    <button class="btn btn-redtele" type="button" data-mdb-toggle="modal" data-mdb-target="#cancelarModal">
                        Cancelar función
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragmentos/footer.html :: footer"></footer>
<!-- Modal confilctos -->
<div th:if="${funcionesConflictoList != null}" class="modal top fade" id="modalConflictos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Ha ocurrido un conflicto </h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    La función creada presenta un conflicto con el siguiente horario
                </div>
                <div class="mb-3" th:each="funcion : ${funcionesConflictoList}">
                    <div>
                        <span>Obra:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.obra.titulo}"></span>
                    </div>
                    <div>
                        <span>Inicio:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.inicio}"></span>
                    </div>
                    <div>
                        <span>Fin:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.fin}"></span>
                    </div>
                    <div>
                        <span>Sala:&nbsp</span>
                        <span class="fw-bold" th:text="| ${funcion.sala.numero} - ${funcion.sala.sede.nombre}|"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cancelar Funcion -->
<div class="modal top fade" id="cancelarModal" tabindex="-1" aria-labelledby="cancelarModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog ">
        <form method="post" th:action="@{'/operador/funciones/cancelar'}" th:object="${funcion}">
            <input type="hidden" th:field="*{id}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelarModalLabel">Cancelar función</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        ¿Está seguro que desea cancelar la función?
                    </div>
                    <div class="fw-bold mb-3">
                        Esta acción es irreversible
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-redtele">Cancelar función</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragmentos/navbar.html :: menu"></div>
</body>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript" th:if="${funcionesConflictoList != null}">
    $(window).on('load', function() {
        $('#modalConflictos').modal('show');
    });
</script>
</html>