<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Nueva función')"></head>
<head>
    <script th:src="@{/selectize/js/standalone/selectize.js}"></script>
    <link th:href="@{/selectize/css/selectize.bootstrap5.css}" rel="stylesheet">
</head>
<body class="bg-lightgrey">
<nav th:replace="fragmentos/navbar-basica.html :: navbar"></nav>
<div class="container py-3 w-75">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="card-title text-redtele fs-22">
                    Nueva función
                </div>
            </div>
            <form method="post" th:action="@{'/operador/funciones/registrar'}" th:object="${funcion}">
                <input hidden th:field="*{obra}">
                <div class="row">
                    <div class="col control-group mb-2">
                        <label class="form-label">Sala</label>
                        <select class="demo-default" th:field="*{sala}" id="sala"
                                th:classappend="${#fields.hasErrors('sala')?'is-invalid':''}">
                            <option value="" hidden>Selecciona una sala</option>
                            <optgroup th:each="sede : ${sedeList}" th:label="${sede.nombre}">
                                <option th:each="sala : ${sede.salas}"
                                        th:if="${sala.estado == 'Disponible'}"
                                        th:text="${sala.numero}"
                                        th:value="${sala.id}"></option>
                            </optgroup>
                        </select>
                        <div class="text-danger mt-3" th:if="${#fields.hasErrors('sala')}"
                             th:errors="*{sala}"></div>
                    </div>
                    <script>
                        $("select[name*='sala']").selectize({
                            sortField: 'optgroup',
                            searchField: ['text', 'optgroup']
                        });
                    </script>
                    <div class="col mb-2">
                        <label class="form-label">Aforo</label>
                        <input th:field="*{stock}" type="text" class="form-control mb-0"
                               th:classappend="${#fields.hasErrors('stock')?'is-invalid':''}"/>
                        <label class="form-label text-end font-italic    w-100" id="maxAforo">máx ---</label>
                        <div class="text-danger" th:if="${#fields.hasErrors('stock')}"
                             th:errors="*{stock}"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col mb-2">
                        <label class="form-label">Fecha</label>
                        <input th:field="*{fecha}" type="date" class="form-control"
                               th:classappend="${#fields.hasErrors('fecha')?'is-invalid':''}"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('fecha')}"
                             th:errors="*{fecha}"></div>
                    </div>
                    <div class="col mb-2">
                        <label class="form-label">Límite de compra</label>
                        <input th:field="*{maxreservas}" type="text" class="form-control"
                               th:classappend="${#fields.hasErrors('maxreservas')?'is-invalid':''}"/>
                        <label class="form-label text-end font-italic w-100" >máx 10</label>
                        <div class="text-danger" th:if="${#fields.hasErrors('maxreservas')}"
                             th:errors="*{maxreservas}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Hora de inicio</label>
                        <input th:field="*{inicio}" type="time" class="form-control"
                               th:classappend="${#fields.hasErrors('inicio')?'is-invalid':''}"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('inicio')}"
                             th:errors="*{inicio}"></div>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Costo por ticket</label>
                        <input th:field="*{costo}" type="text" class="form-control"
                               th:classappend="${#fields.hasErrors('costo')?'is-invalid':''}"/>
                        <label class="form-label text-end font-italic w-100" >máx 500.00</label>
                        <div class="text-danger" th:if="${#fields.hasErrors('costo')}"
                             th:errors="*{costo}"></div>
                    </div>
                </div>
                <div class="row mt-5 mb-3">
                    <div>
                        <button class="btn btn-redtele" type="submit">
                            Registrar
                        </button>
                        <a class="btn btn-dark" th:href="@{'/operador/obras/gestion/' + ${funcion.obra.id}}">
                            Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragmentos/footer.html :: footer"></footer>
<!-- Modal -->
<div th:if="${funcionesConflictoList != null}" class="modal top fade" id="modalConflictos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Ha ocurrido un conflicto </h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    La función creada presenta un conflicto con el siguiente horario
                </div>
                <div class="mb-3" th:each="funcion : ${funcionesConflictoList}">
                    <div>
                        <span>Obra:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.obra.titulo}"></span>
                    </div>
                    <div>
                        <span>Inicio:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.inicio}"></span>
                    </div>
                    <div>
                        <span>Fin:&nbsp</span>
                        <span class="fw-bold" th:text="${funcion.fin}"></span>
                    </div>
                    <div>
                        <span>Sala:&nbsp</span>
                        <span class="fw-bold" th:text="| ${funcion.sala.numero} - ${funcion.sala.sede.nombre}|"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragmentos/navbar.html :: menu"></div>

<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript" th:if="${funcionesConflictoList != null}">
    $(window).on('load', function() {
        $('#modalConflictos').modal('show');
    });
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function (){
        let maxaforo = $('#maxAforo');

        $("#sala").change(function(){
            let idsala = $('#sala option:selected').val();

            if(!isNaN(idsala)){
                $('#fotoobra').attr('src','/');
                $.ajax({
                    method:"GET",
                    url: "http://" + [[${dominio}]] + "/operador/funciones/sala/"+idsala
                }).done(function (response){
                    let aforo = response.aforo;
                    if(aforo!=null){
                        maxaforo.html('máx '+aforo);
                    }
                })
            }

        });
    });

    /*]]>*/
</script>
</body>
</html>