<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragmentos/cabecera.html :: cabecera( titulo = 'Teleticket')"></head>

<body class="bg-lightgrey">
<nav th:replace="fragmentos/navbar.html :: navbar('todo')"></nav>

<!--Contenidos-->
<div class="container">

    <div class="py-3">
        <!-- Carousel wrapper -->
        <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3"
                        aria-label="Slide 4"></button>
            </div>

            <!-- Inner -->
            <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                    <img th:src="@{/img/slide1.jpg}" class="d-block w-100" alt="Slide1"/>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <img th:src="@{/img/slide2.jpg}" class="d-block w-100" alt="Slide2"/>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <img th:src="@{/img/slide3.jpg}" class="d-block w-100" alt="Slide3"/>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <img th:src="@{/img/slide4.jpg}" class="d-block w-100" alt="Slide4"/>
                </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
                    data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
                    data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel wrapper -->
    </div>

    <!-- Obras destacadas -->
    <div th:unless="${listaObrasDestacadas.isEmpty()}" class="mb-4">
        <div class="title-24">
            <i class="fas fa-solid fa-star text-redtele"></i>
            Obras destacadas
        </div>
        <!--- Obras --->
        <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
            <div class="col" th:each="obras : ${listaObrasDestacadas}">
                <div class="h-100 position-relative">
                    <div class=" card card-tele" th:href="@{'/obras/' + ${obras.id}}">
                        <span class="card-tele-star">
                            <i class="fas fa-star"></i>
                        </span>
                        <div class="card-tele-img">
                            <img th:src="@{'/image/obra/'+${obras.fotoprincipal}}" th:alt="${obras.otitulo}"
                                 class="img-fluid img-cover"/>

                            <div class="middle-content col">
                                <a class="btn btn-redtele" th:href="@{'/obras/'+ ${obras.id}}">
                                    <i class="fas fa-ticket-alt"></i>
                                    Comprar
                                </a>
                            </div>
                        </div>
                        <div class="card-tele-body">
                            <div class="card-tele-title" th:text="${obras.otitulo}">
                            </div>
                        </div>
                        <div class="card-tele-footer">
                            <div class="d-flex align-items-end">
                                <span>Desde&nbsp;&nbsp;</span>
                                <span class="fw-bold fs-14" th:text="'S/ '+${#numbers.formatDecimal(obras.minprecio,1,2,'POINT')}">S/ 35.00</span>
                            </div>
                            <a class="btn btn-redtele btn-comprar" th:href="@{'/obras/'+ ${obras.id}}">
                                Comprar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Banners exploracion-->
    <section>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
            <div class="col">
                <div class="card bg-dark text-white">
                    <a th:href="@{/sedes}">
                        <img th:src="@{/img/sedesbanner.jpg}" class="card-img" alt="Explora sedes"/>
                    </a>

                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white">
                    <a th:href="@{/obras}">
                        <img th:src="@{/img/teatrobanner.jpg}" class="card-img" alt="Lo mejor del teatro"/>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white">
                    <a th:href="@{/personas}">
                        <img th:src="@{/img/personasbanner.jpg}" class="card-img" alt="Descubre actores"/>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div th:unless="${listaObras.isEmpty()}" class="mb-5">
        <div class="title-24">
            Obras en Cartelera
        </div>
        <!--- Obras --->
        <div class="row row-cols-1 row-cols-md-4 g-4 py-3">
            <div class="col" th:each="obras : ${listaObras}">
                <div class="h-100 position-relative">
                    <div class=" card card-tele" th:href="@{'/obras/' + ${obras.id}}">
                        <div class="card-tele-img">
                            <img th:src="@{'/image/obra/'+${obras.fotoprincipal}}" th:alt="${obras.otitulo}"
                                 class="img-fluid img-cover"/>

                            <div class="middle-content col">
                                <a class="btn btn-redtele" th:href="@{'/obras/'+ ${obras.id}}">
                                    <i class="fas fa-ticket-alt"></i>
                                    Comprar
                                </a>
                            </div>
                        </div>
                        <div class="card-tele-body">
                            <div class="card-tele-title" th:text="${obras.otitulo}">
                            </div>
                        </div>
                        <div class="card-tele-footer">
                            <div class="d-flex align-items-end">
                                <span>Desde&nbsp;&nbsp;</span>
                                <span class="fw-bold fs-14" th:text="'S/ '+${#numbers.formatDecimal(obras.minprecio,1,2,'POINT')}">S/ 35.00</span>
                            </div>
                            <a class="btn btn-redtele btn-comprar" th:href="@{'/obras/'+ ${obras.id}}">
                                Comprar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center fw-bold pt-2">
            <a th:href="@{/obras}" class="link-sub">
                Ver más obras
                <i class="ms-1 fa-solid fa-angle-right"></i>
            </a>
        </div>

        <div th:unless="${listaSedes.size==0}" class="mb-5">
            <div class="title-24">
                Nuestras Sedes
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-4 py-3" th:unless="${listaSedes.isEmpty()}">
                <div class="col" th:each="sede : ${listaSedes}">
                    <div class="card h-100 position-relative">
                        <div class="card-tele">
                            <div class="card-tele-img">
                                <a th:href="@{'/sedes/'+ ${sede.id}}" >
                                    <img th:src="@{'/image/sede/'+${sede.fotoprincipal}}" alt="Sede" class="img-fluid rounded-start img-cover"/>
                                </a>

                            </div>
                            <div class="card-tele-body pb-2">
                                <div class="card-tele-title" th:text="${sede.nombre}"></div>
                                <div class="card-tele-subtitle" th:text="${sede.direccion}"></div>
                            </div>
                            <div class="card-tele-footer justify-content-end">
                                <div class="d-flex align-items-end">
                                    <a class="btn btn-redtele" th:href="@{'/sedes/'+ ${sede.id}}">Ver más</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="text-center fw-bold pt-2">
                <a th:href="@{/sedes}" class="link-sub">
                    Ver más sedes
                    <i class="ms-1 fa-solid fa-angle-right"></i>
                </a>
            </div>
        </div>

    </div>


</div>
<!--Fin de contenidos-->

<footer th:replace="fragmentos/footer.html :: footer"></footer>
    <!-- End your project here-->
</body>

<div th:replace="fragmentos/navbar.html :: menu"></div>
<!-- Modal msg -->
<div th:if="${msg!=null}" class="modal top fade" id="msgModal" tabindex="-1" aria-labelledby="msgModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <img th:src="@{/img/logo-teleticket-alt.png}" height="40" alt="Teleticket logo" loading="lazy" style="margin-top: 2px;"/>
                </div>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=" w-100 d-flex justify-content-center mb-3">
                    <i class="fa-solid fa-circle-check" style="font-size: 50px" th:class="${error==null? 'fa-solid fa-circle-check text-success': 'fa-solid fa-circle-xmark text-danger'  }"></i>
                </div>
                <div class="w-100 d-flex justify-content-center my-2" th:text="${msg}">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
<script  type="text/javascript" th:src="@{/js/busqueda.js}"></script>
<script type="text/javascript" th:if="${msg != null}">
    $(window).on('load', function() {
        $('#msgModal').modal('show');
    });
</script>
</html>
